@use "mixins";
@use "swiper";

.custom_wrap {
  .content {
    max-width: 860px;
  }
  .cust_visual {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 170px;
    background: {
      size: cover;
      position: center center;
      repeat: no-repeat;
    }
    margin-bottom: 50px;
    p {
      padding-left: 90px;
      font-size: 22px;
      color:#ffffff;
    }
    .btn {
      margin-right: 50px;
      height: 35px;
      border:1px solid #ffffff;
      border-radius: 0;
      font-size: 16px;
    }

    @include mixins.mobile() {
      height: 85px;
      border-radius: 25px;
      margin-bottom: 25px;
      margin-top: 10px;
      p {
        padding-left: 5%;
        font-size: 12px;
      }
      .btn {
        height: 25px;
        padding: 0 6px;
        margin-right: 5%;
        font-size: 10px;
      }
    }
  }
  .tab_wrap {
    .tabs_list {
      margin-bottom: 20px;
    }
    .tab_box {
      padding: 0;
    }
  }
  .head_title {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 500;
  }
  .faq_wrap {
    .cust_visual {
      background-image: url('../images/common/faq_visual.jpg');
    }
  }
  .qna_wrap {
    .cust_visual {
      background-image: url('../images/common/faq_visual.jpg');
    }
    .agree_box {
      margin-top: 40px;
    }
    .agree_list {
      li {
        display: flex;
        align-items: center;
      }
      .btn_view {
        font-size: 15px;
        color:#888888;
      }
      .chkwrap {
        label {
          input[type=checkbox] {
            margin-right: 20px;
            &:before {
              top: -10px;
              width: 30px;
              height: 30px;
              background-size: cover;
            }
            & + span {
              font-size: 16px;
            }
            &:checked {
              & + span {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .btn_point {
      width: 150px;
      background-color: #c7613e;
    }

    @include mixins.mobile() {
      .agree_list {
        .chkwrap {
          label {
            input[type=checkbox] {
              margin-right: 15px;
              &:before {
                top: -8px;
                background-size: 22px;
              }
              & + span {
                font-size: 12px;
              }
            }
          }
        }
        .btn_view {
          font-size: 12px;
        }
      }
    }
  }

  .qna_write {
    margin-top: 60px;
    textarea {
      height: 150px;
    }
  }

  .myqna_list {
    border-top: 1px solid #b9b9ba;
    th, td {
      border-left: 1px solid #b9b9ba;
      line-height: 100%;
      &:first-child {
        border-left: 0;
      }
    }
    th {
      min-height: 20px;
      padding: 15px 10px;
      background-color: #eeeeee;
    }
    td {
      min-height: 20px;
      padding: 20px 10px;
      border-bottom: 1px solid #b9b9ba;
      background-color: #ffffff;
      text-align: center;
      vertical-align: middle;
    }
    .left {
      width: 60%;
      text-align: left;
    }
    .nodata {
      padding-top: 30px;
      padding-bottom: 30px;
      color:#888888;
      text-align: center;
    }
    .ready {
      color:#888888;
    }
    .completed {
      color:#016241;
    }
    .last {
      padding-top: 0;
      padding-bottom: 0;
    }
    .btn_detailvw {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 40px;
      border-radius: 5px;
      background-color: #c7613e;
      color:#ffffff;
    }

    @include mixins.mobile() {
      th, td {
        font-size: 12px;
        &:last-child {
          display: none;
        }
      }
      .left {
        width: 50%;
      }
    }
  }

  .myqna_view {
    margin-top: 10px;
    border-top: 1px solid #b9b9ba;
    &:first-child {
      margin-top: 0;
    }
    th, td {
      padding: 15px;
      min-height: 23px;
      border-bottom: 1px solid #b9b9ba;
      vertical-align: middle;
    }
    th {
      width: 20%;
      background-color: #eeeeee;
    }
    td {
      width: 80%;
      line-height: 1.3;
    }
    @include mixins.mobile() {
      th, td {
        font-size: 12px;
      }
    }
  }

  @include mixins.mobile() {
    flex-direction: column;
    .aside {
      .aside_tit {
        &::after {
          display: none;
        }
      }
      .aside_menu {
        height: auto;
      }
    }
    .head_title {
      font-size: 19px;
    }
    .tabs_list {
      margin-bottom: 10px !important;
      a {
        font-size: 13px;
      }
    }
  }
  
}
.qna_layer {
  .layer_wrap {
    width: 540px;
    border-radius: 25px;
  }
  .layer_box {
    min-height: 155px;
    padding: 50px 25px;
    text-align: center;
  }
  .layer_head {
    padding-bottom:20px;
  }
  .layer_desc {
    padding-bottom:35px;
    line-height: 1.5;
  }
	.btn_submit {
		display: inline-flex;
		width: 170px;
		height: 50px;
		align-items: center;
		justify-content: center;
		border-radius: 50px;
		background-color: #000000;
		color: #ffffff;
		font-size: 20px;
		font-weight: 500;
	}
}

.etc_wrap {
  .head_title {
    display: flex;
    justify-content: space-between;
    color:#016241;
    select {
      width:150px;
      font-size: 16px;
    }
  }
  .text_cont {
    dl {
      margin-top:30px;
      &:first-child {
        margin-top: 0;
      }
      dt, dd, p {
        line-height: 1.45;
      }
      dt {
        margin-bottom: 5px;
      }
    }
  }
  @include mixins.mobile() {
    .head_title {
      font-size: 0;
      color: #ffffff;
      select {
        font-size: 13px;
      }
    }
    .text_cont {
      dl {
        dt {
          font-size: 14px;
        }
        dd {
          font-size: 13px;
        }
      }
    }
  }
}