@use "mixins";
@use "swiper";

.header  {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
.container {
  background-color: #ffffff;
}
.section {
  // position: relative;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.keyvisual {
  position: relative;
  padding-top: 60vw;
  overflow: hidden;
  .swiper-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .figure {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: {
      repeat: no-repeat;
      position: center center;
      size: cover;
    };
  }
  .figure01 {
    background-image: url('../images/main/visual01.png')
  }
  .figure02 {
    background-image: url('../images/main/visual02.png')
  }
  .figure03 {
    background-image: url('../images/main/visual03.png')
  }
  .contents {
    position: absolute;
    left: 50%;
    top: 19%;
    @include mixins.translate(-50%, 0);
    text-align: center;
    z-index: 9;
    h2 {
      position: relative;
      display: block;
      font-weight: 700;
      font-size: 50px;
      color: #ffffff;
      &:before {
        content: '';
        display: block;
        width: 109px;
        height: 70px;
        margin: 0 auto 2px;
        background: {
          image: url('../images/icons/ico_visual.png');
          size: cover;
          repeat: no-repeat;
          position: center bottom;
        }
      }
    }
    p {
      margin-top: 35px;
      font-size: 26px;
      line-height: 1.3;
      color: #ffffff;
    }
    .btn_cnts {
      display: inline-flex;
      height: 63px;
      align-items: center;
      justify-content: center;
      background-color: #016241;
      border-radius: 35px;
      margin-top: 30px;
      padding: 0 30px;
      font-size: 20px;
      font-weight: 500;
      color:#ffffff;
    }
  }

  @include mixins.desksm() {
    .contents {
      h2 {
        font-size: 33px;
      }
      p {
        margin-top: 25px;
        font-size: 17px;
      }
      .btn_cnts {
        height: 32px;
        margin-top: 25px;
        padding: 0 20px;
        font-size: 12px;
      }
    }
  }

  @include mixins.mobile() {
    .contents {
      h2 {
        font-size: 25px;
      }
      p {
        font-size: 13px;
      }
    }
  }
  
}
// keyvisual

.section {
  padding: 100px 0;
  .sec_head {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    p {
      font-size: 32px;
      font-weight: 500;
    }
    span {
      display: block;
      margin-top: 25px;
      font-size: 20px;
    }
  }
  // sec_head

  .sec_banner {
    position: relative;
    padding: 155px 0;
    .bnr_list {
      position: absolute;
      left: 50%;
      top: 50%;
      @include mixins.translate(-50%, -50%);
      display: flex;
      gap: 60px;
      width: 860px;
      height: 100%;
      li {
        position: relative;
        width: 100%;
        height: 100%;
        img {
          position: absolute;
          left: 0;
          top:0;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
        &:first-child {
          .contents {
            bottom: 27%;
          }
        }
        &:last-child {
          .contents {
            bottom: 9%;
          }
          img {
            position: absolute;
            bottom:0;
            top: inherit;
          }
        }
      }
      .contents {
        position: absolute;
        right: 30px;
        bottom:0;
        text-align: right;
        color:#ffffff;
        span {
          display: block;
          font-size: 18px;
          line-height: 1.4;
        }
        p {
          font-size: 40px;
        }
        .btn_link {
          display: block;
          width: 66px;
          height: 21px;
          margin-top: 20px;
          margin-bottom: 2px;
          margin-left: auto;
          background: {
            image: url('../images/icons/ico_link.png');
            repeat: no-repeat;
            position: right 0;
            size: cover;
          };
        }
      }

    }
  }
  // sec_banner

  .sec_infoIco {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fafafa;
      width: 200px;
      height: 200px;
      border-radius: 100%;
      img {
        max-width: 96px;
      }
    }
    span {
      display: block;
      margin-top: 30px;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
    }
    .item {
      &:last-child {
        img {
          max-width: 72px;
        }
      }
    }
  }
  // sec_infoIco

  .swipe_wrap {
    position: relative;
    max-width: 1053px;
    width: 100%;
    // padding-top: 52%;
    padding-top: 638px;
    margin: 0 auto;
    z-index: 1;
    .figure {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: {
        color: transparent;
        image: url('../images/main/book_bg.png');
        repeat: no-repeat;
        position: 0 0;
        size: 100% 100%;
      };
    }

    .swiper-container {
      position: absolute;
      top:7%;
      left:50%;
      @include mixins.translate(-50%, 0);
      width: calc(100% - 140px);
      width: 87%;
      height: 80.8%;
      overflow: hidden;
    }
    .swiper-wrapper {}
    .swipe_banner {
      height: 100%;
      background: {
        repeat: no-repeat;
        position: center center;
        size: cover;
      }
    }
  }
  // swipe_wrap

  &.sec_qna {
    position: relative;
    max-width: 100%;
    &:before {
      content: '';
      position: absolute;
      left:0;
      display: block;
      width: 100%;
      height: 100%;
      margin-top: 380px;
      background: {
        image: url('../images/main/faq_bg.png');
        size: cover;
        repeat: no-repeat;
        position: center top;
      }
    } 
    .swiper-pagination {
      bottom: 38px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 50px;
      height: 50px;
      background: {
        size: cover;
        repeat: no-repeat;
        position: 0 0;
      };
      &::after {
        display: none;
      }
    }
    .swiper-button-next {
      background-image: url('../images/icons/swipe_next.png');
    }
    .swiper-button-prev {
      background-image: url('../images/icons/swipe_prev.png');
    }
    .swiper-pagination-bullet {
      background-color: #626262;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: #016241;
    }
  }

  &.sec_faq {
    max-width: 100%;
    padding-top: 0;
  }
  .faqswipe {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    .swiper-slide {
      height: 245px;
      background: {
        image: url('../images/main/faq_box.png');
        size: 100%;
        repeat: no-repeat;
        position: 0 0;
      }
      p {
        padding: 32% 17%;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
      }
    }
  }
}
// section

@include mixins.mobile() {
  .keyvisual {
    height: 80vh;
    padding-top: 0;
    .swiper-wrapper {
      &::before {
        content: '';
        position: absolute;
        left:0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, .3);
        z-index: 1;
      }
    }
    .contents {
      h2 {
        &:before {
          background-size: 65px;
        }
      }
    }
  }
  .section {
    padding: 30px 0;
    .sec_head {
      padding-top: 15px;
      p {
        font-size: 16px;
      }
      span {
        margin-top: 10px;
        font-size: 12px;
      }
    }
    .sec_banner {
      padding: 40px 0;
      > p {
        position: relative;
        width: calc(100% - 50px);
        padding-top: 77vw;
        margin: 0 auto;
        overflow: hidden;
        img {
          position:absolute;
          left:0;
          top: 0;
          top: 50%;
          left: 0;
          max-width: inherit;
          width: auto;
          height: 100%;
          @include mixins.translate(0, -50%);

        }
      }
      .bnr_list {
        width: 100%;
        gap: 10px;
        li:first-child .contents {
          bottom: 40%;
        }
        li:last-child .contents {
          right: 10px;
        }
        .contents {
          .btn_link {
            margin-bottom: 0;
            background-size: 35px;
          }
          span {
            &:first-child {
              display: none;
            }
          }
          p {
            font-size: 20px;
          }
        }
      }
    }

    .sec_infoIco {
      flex-direction: column;
      justify-content: center;
      .item {
        margin-bottom: 25px;
        text-align: center;
        &:last-child {
          margin-bottom: 0;
          img {
            max-width: 35px;
          }
        }
      }
      p {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        img {
          max-width: 50px;
        }
      }
      span {
        margin-top: 15px;
        font-size: 13px;
      }
    }
    &.sec_qna {
      &:before {
        display: none;
      }
      .swiper-pagination {
        bottom: 8px;
      }
    }
    .swipe_wrap {
      padding-top: 70vw;
      .swipe_navi {
        display: none;
      }
    }
    .faqswipe {
      .swiper-slide {
        height: 195px;
        background-size: 100% 100%;
        p {
          font-size: 14px;
        }
      }
    }
    &.sec_faq {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150%;
        background: {
          image: url("../images/main/faq_bg.png");
          size: cover;
          position: center bottom;
          repeat: no-repeat;
        }
      }
    }
  }
}