@use "mixins";
@use "swiper";


// member
.join_index {
	width: 100%;
	max-width: 520px;
	margin: 60px auto 0;

	.title {
		margin-bottom: 17px;
		font-size: 38px;
		font-weight: 700;
	}

	.desc {
		font-weight: 400;
		line-height: 1.6;

		&._center {
			padding-top: 35px;
			font-size: 18px;
			text-align: center;

			&+.desc {
				padding-top: 15px;
			}
		}

		a {
			color: #c7613e;
			line-height: 1.6;
		}

		span {
			color: #c7613e;
			line-height: 1.6;
		}
	}

	.btnwrap {
		margin-top: 37px;

		[class^=btn_] {
			display: flex;
			width: 100%;
			height: 70px;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
			font-size: 24px;
			font-weight: 500;

			i {
				display: inline-flex;
				margin-right: 5px;

				background: {
					size: cover;
					repeat: no-repeat;
					position: center center;
				}
			}
		}
	}
	.btn_find {
		background-color: #362515;
    color:#ffffff;
	}

  .btn_login {
    background-color: #016241;
    color:#ffffff;
  }
	.btn_email_join {
		background-color: #e6e2d9;

		i {
			width: 33px;
			height: 32px;

			background: {
				image: url('../images/icons/ico_at.png');
			}
		}
	}

	.btn_kakao_join {
		background-color: #fee800;

		i {
			width: 36px;
			height: 33px;

			background: {
				image: url('../images/icons/ico_kakao.png');
			}
		}
	}

	.btn_join_confirm {
		background-color: #016241;
		color: #ffffff;
		font-size: 24px;
	}
}

.login_etc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  a {
    color:#888888;
    font-size: 15px;
    margin-left: 15px;
  }
  .chkwrap.type2 {
    min-height: auto;
    label {
      input[type=checkbox]{
        margin-right: 30px;
        &:before {
					top:-8px;
					left: -3px;
					width: 30px;
					height: 30px;
          background-size: 30px;
          &:checked::before {
            background-size: 30px;
          }
        }
        & + span {
          font-size: 16px;
          color:#000000;
        }
      }
    }
  }

	@include mixins.mobile() {
		margin-top: 20px;
		.chkwrap.type2 {
			label {
				input[type=checkbox] {
					margin-right: 15px;
					&:before {
						top: -3px;
						left: -3px;
						width: 22px;
						height: 22px;
						background-size: 22px;
						&:checked::before {
							background-size: 22px;
						}
					}
					& + span {
						font-size: 12px;
					}
				}
			}
		}
		a {
			font-size: 12px;
		}
	}
}
.login_more {
  margin-top: 50px;
  text-align: center;
  a {
    &:before {
      content: '';
      display: inline-block;
      width:1px;
      height:16px;
      margin: 0 9px 2px 5px;
      background-color: #959595;
      vertical-align: middle;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
  }
	@include mixins.mobile() {
		margin-top: 25px;
		a {
			font-size: 12px;
		}
	}
}

.join_form {
	margin-top: 35px;

	.agree_box {
		margin-top: 35px;

		.chkwrap.type2 {
			display: inline-block;
			margin-right: 20px;

			label {
				input[type=checkbox] {
					margin-right: 20px;

					&:before {
						top: -8px;
						width: 30px;
						height: 30px;
						background-size: 30px;
					}

					&+span {
						font-weight: 500;
						font-size: 16px;
						color: #000000;

						em {
							color: #c7613e;

							&.nor {
								color: #888888;
							}
						}
					}
				}
			}
		}

		.agree_head {
			padding-bottom: 10px;
			border-bottom: 1px dotted #b8b8b9;

			.chkwrap.type2 label {
				input[type=checkbox] {
					&+span {
						font-size: 18px;
					}
				}
			}
		}

		.agree_list {
			margin-top: 10px;

			li {
				display: flex;
				align-items: center;
				padding: 5px 0;
			}

			.btn_view {
				font-size: 15px;
				font-weight: 400;
				color: #888888;
			}
		}
	}

	input[type=text],
	input[type=password] {
    width: calc(100% - 75px);
		padding-right: 60px;
	}
}

.member_find-wrap {
  margin: 0 auto;
  text-align: center;
  .inner {
    position: relative;
    width: 520px;
    height: 430px;
    padding-top: 55px;
    margin-bottom: 55px;
    background-color: #ffffff;
  }
  .title {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
  }
  .ico {
    display: block;
    width:67px;
    height: 92px;
    margin: 0 auto 40px;
    background: {
      image: url('../images/icons/ico_findid.png');
      repeat:no-repeat;
      size: cover;
    };
  }
  .desc {
    font-size: 22px;
    line-height: 1.6;
    span {
      font-size: inherit;
      line-height: inherit;
      color: #c7613e;
    }
  }
  .btn_login {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 70px;
    background-color: #016241;
    color:#ffffff;
    font-size: 24px;
    font-weight: 500;
  }
	@include mixins.mobile() {
		width: 100%;
		a {
			font-size: 12px;
		}
		.inner {
			width: 100%;
			height: 300px;
			margin-bottom: 27px;
		}
		.title {
			font-size: 19px;
		}
		.ico {
			width: 33px;
			height: 45px;
			background-size: 100%;
		}
		.desc {
			font-size: 14px;
			span {
				font-weight: 600;
			}
		}
		.btn_login {
			height: 35px;
			font-size: 14px;
		}
	}
}

// mypage
.mypage_wrap {
	.content {
		max-width: 860px;
	}

	.cont_head {
		display: flex;
		align-items: center;

		.user_figure {
			width: 100px;
			height: 100px;
			margin-right: 20px;
			border-radius: 100%;

			background: {
				image: url('../images/common/user_default.png');
				size: cover;
				repeat: no-repeat;
				position: center center;
			}

			overflow: hidden;
		}

		.user_name {
			font-size: 32px;
		}
	}

	.my_info {
		.my_row {
			display: flex;
			align-items: center;
			border-bottom: 1px solid #b9b9ba;
			padding: 25px 0 15px;

			dt {
				width: 120px;
				font-size: 18px;
			}

			dd {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: calc(100% - 120px);

				input {
					width: 50%;
					height: 40px;
					border: 0;
					background-color: transparent;
					font-size: 24px;
					color: #016241;
				}
			}

			.btn_change {
				padding: 10px 20px;
				background-color: #c7613e;
				border-radius: 5px;
				color: #ffffff;
				font-size: 18px;
			}
		}
	}

	.my_check {
		margin-top: 45px;

		>p {
			margin-bottom: 20px;
			font-size: 18px;
		}

		.chkwrap.type2 {
			display: inline-block;
			margin-right: 20px;

			label {
				input[type=checkbox] {
					margin-right: 20px;

					&:before {
						top: -8px;
						width: 30px;
						height: 30px;
						background-size: 30px;
					}

					&+span {
						font-weight: 500;
						font-size: 16px;
						color: #000000;

						em {
							color: #c7613e;

							&.nor {
								color: #888888;
							}
						}
					}
				}
			}
		}
	}

	.btn_wrap+.btn_wrap {
		a span {
			color: #c7613e;
			text-decoration: underline;
		}
	}

	.my_will {
		.check_list {
			display: flex;

			li {
				min-width: 150px;
			}
		}

		@include mixins.mobile() {
			.check_list {
				display: block;
				&:after {
					content: '';
					display: block;
					clear: both;
				}
				li {
					float: left;
				}
			}
		}
	}

	.will_filter {
		margin-bottom: 70px;

		.filter_chk {
			display: flex;
			margin-top: 25px;
			margin-bottom: 20px;
		}

		.filter_btn {
			position: relative;
			margin-right: 10px;

			input[type=checkbox] {
				position: absolute;
				left: 0;
				top: 0;
				width: 0;
				height: 0;
				z-index: -1;

				&:checked {
					&+label {
						background-color: #c7613e;
						color: #ffffff;
					}
				}
			}

			label {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #dcd9d3;
				border-radius: 5px;
				width: 70px;
				height: 35px;
			}
		}

		.filter_date {
			display: flex;
			align-items: center;
			gap: 10px;

			p {
				display: flex;
				align-items: center;
			}

			input {
				margin-right: 10px;
				text-align: center;
			}

			.ui-datepicker-trigger {
				width: 28px;
				height: 30px;
				cursor: pointer;
			}
		}
		@include mixins.mobile() {
			.filter_btn {
				flex: 1;
				label {
					width: 100%;
					font-size: 13px;
				}
			}
			.filter_date {
				.ui-datepicker-trigger {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	.will_list {
		.list_head {
			display: flex;
			align-items: center;
			justify-content: space-between;

			p {
				font-size: 18px;
				color: #888888;

				span {
					color: #000000;
				}
			}
		}

		.btn_make {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 200px;
			height: 70px;
			background-color: #016241;
			border-radius: 50px;
			color: #ffffff;
			font-size: 22px;
			font-weight: 500;
		}

		.list_box {
			float: right;
			width: 100%;
			margin-top: 55px;

			&:after {
				content: '';
				display: block;
				clear: both;
			}

			li {
				float: left;
				width: calc((100% / 3) - 38px);
				height: 325px;
				margin-right: 57px;
				margin-bottom: 45px;

				&:nth-child(3n) {
					margin-right: 0
				}

				&:nth-child(3n + 1) {
					clear: left;
				}

			}
		}

		.will_box {
			width: 100%;
			height: 100%;

			background: {
				image: url('../images/common/will_box.png');
				size: 100% 100%;
				position: center bottom;
				repeat: no-repeat;
			}

			.box_head {
				display: flex;
				padding: 35px 0 45px;
				color: #888888;

				.num {
					width: 63px;
					padding-right: 7px;
					font-size: 20px;
					text-align: right;
				}

				.date {
					width: calc(100% - 95px);
					padding-left: 25px;
				}
			}

			.box_cont {
				padding-left: 23%;

				p {
					margin-bottom: 20px;
					font-size: 18px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				.type {
					font-weight: 500;
				}

				.status {
					color: #016241;
				}

				.status_ing {
					color: #c7613e;
				}

				.notarize {
					span {
						color: #888888;

						&.ing {
							color: #c7613e;
						}

						&.complete {
							color: #016241;
						}
					}
				}
			}
			.bx_btn {
				display: flex;
				width: 100%;
				justify-content: center;
				margin-top: 30px;
				gap: 5px;
				a {
					flex: 1;
					max-width:100px;
				}
				.btn_manage {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 45px;
					background-color: #362515;
					font-weight: 500;
					color:#ffffff;
				}
				.btn_write {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 45px;
					background-color: #016241;
					font-weight: 500;
					color:#ffffff;
				}
				.btn_prev {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 45px;
					background-color: #747474;
					font-weight: 500;
					color:#ffffff;
				}
			}
		}
		@include mixins.mobile() {
			.list_head {
				p {
					font-size: 13px;
				}
			}
			.btn_make {
				width: 120px;
				height: 35px;
				font-size: 14px;
			}
			.list_box {
				float: none;
				max-width: 480px;
				margin: 25px auto 0;
				li {
					width: calc(50% - 8px);
					height: 245px;
					margin-right: 15px;
					margin-bottom: 15px;
					&:nth-child(3n) {
						margin-right: 15px;
					}
					&:nth-child(3n + 1) {
						clear: none;
					}
					&:nth-child(2n + 1) {
						clear: left;
					}
					&:nth-child(2n) {
						margin-right: 0;
					}
				}
				.box_head {
					padding: 30px 0 25px;
					.num {
						width: 40px;
						font-size: 14px;
					}
					.date {
						width: calc(100% - 79px);
						padding-left: 10px;
						font-size: 13px;
					}
				}
				.box_cont {
					padding-left: 15%;
					padding-right: 15%;
					p {
						margin-bottom: 15px;
						font-size: 15px;
					}
				}
				.bx_btn {
					width: calc(100% - 20px);
					margin-left: 10px;
					margin-right: 10px;
					margin-top: 15px;
					a {
						max-width: 65px;
						font-size:12px;
						height: 35px !important;
					}
				}
			}
		}
	}

	.pagination {
		clear: both;
		display: flex;
		align-items: center;
		justify-content: center;
		color:#888888;
		span {
			margin: 0 5px;
			color:#000000;
		}
		[class^=btn] {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 35px;
			height: 35px;
			border:1px solid #d3d1cc;
			border-radius: 100%;
			background-color: #ffffff;
			&.last {
				background-color: transparent;
				&:after {
					border-color: #d3d1cc;
				}
			}
		}
		.btn_prev {
			margin-right: 15px;
			&:after {
				content: '';
				width: 10px;
				height: 10px;
				border-top: 2px solid #000;
				border-right: 2px solid #000;
				margin-left:5px;
				transform: rotate(225deg);
			}
		}
		.btn_next {
			margin-left: 20px;
			margin-right: 15px;
			&:after {
				content: '';
				width: 10px;
				height: 10px;
				border-top: 2px solid #000;
				border-right: 2px solid #000;
				margin-right:3px;
				transform: rotate(45deg);
			}
		}
		.now {
			color:#016241;
		}
	}

	@include mixins.mobile() {
		flex-direction: column;
		.chkwrap.type3 {
			label {
				input[type=checkbox] {
					// &:before {
					// 	top: -9px;
					// 	width: 24px;
					// }
					& + span {
						font-size: 13px;
					}
				}
			}
		}
		.content {
			.cont_head {
				margin-bottom: 15px;
				.user_figure {
					width: 60px;
					height: 60px;
				}
				.user_name {
					font-size: 16px;
				}
			}
		}
		.my_info {
			.my_row {
				padding-top: 15px;
				padding-bottom: 10px;
				dt {
					width: 70px;
					font-size: 12px;
				}
				dd {
					width: calc(100% - 70px);
					input {
						font-size: 16px;
					}
				}
				.btn_change {
					padding: 8px 10px;
					font-size: 12px;
				}
			}
		}
		.my_check {
			margin-top: 25px;
			> p {
				margin-bottom: 10px;
				font-size: 14px;
			}
			// .chkwrap.type2 {
			// 	label {
			// 		input[type=checkbox] {
			// 			&::before {
			// 				background-size: 22px;
			// 			}
			// 			& + span {
			// 				font-size: 12px;
			// 			}
			// 		}
			// 	}
			// }
		}
		.mypage_btn-foo {
			padding: 20px 0;
			.btn_round {
				width: 100px;
			}
			&._right {
				padding-top: 0;
				justify-content: flex-end;
				a {
					font-size: 12px;
				}
			}
		} 
		.pagination {
			margin-top: 15px;
		}
	}
}

.mypage_layer {
	.layer_wrap {
		width: 100%;
		max-width: 540px;
	}

	.layer_box {
		padding: 55px 50px 50px;
		border-radius: 25px;
		text-align: center;
	}

	.my_head {
		padding-bottom: 25px;
		font-weight: 500;
		font-size: 22px;
	}

	.my_desc {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.4;
	}

	.my_ico {
		padding: 40px 0 20px;
	}

	.ico_set {
		display: block;
		width: 67px;
		height: 92px;
		margin: 0 auto;

		background: {
			image: url('../images/icons/ico_myset.png');
			size: cover;
			position: center center;
			repeat: no-repeat;
		}
		;
	}

	.ico_outok {
		display: block;
		width: 84px;
		height: 99px;
		margin: 0 auto;

		background: {
			image: url('../images/icons/ico_out_ok.png');
			size: cover;
			position: center center;
			repeat: no-repeat;
		}
	}

	.ico_logout {
		display: block;
		width: 72px;
		height: 72px;
		margin: 0 auto;

		background: {
			image: url('../images/icons/ico_logout.png');
			size: cover;
			position: center center;
			repeat: no-repeat;
		};
	}

	.btnwrap {
		margin-top: 40px;
	}

	.btn_confirm {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 70px;
		background-color: #016241;
		color: #ffffff;
		font-size: 24px;
		font-weight: 500;
	}

	.btn_submit {
		display: inline-flex;
		width: 150px;
		height: 50px;
		align-items: center;
		justify-content: center;
		border-radius: 50px;
		background-color: #000000;
		color: #ffffff;
		font-size: 20px;
		font-weight: 500;
	}

	.btn_cancel {
		display: inline-flex;
		width: 150px;
		height: 50px;
		align-items: center;
		justify-content: center;
		border-radius: 50px;
		background-color: #929292;
		color: #ffffff;
		font-size: 20px;
		font-weight: 500;
	}

	.will_layer {
		max-width: 800px;
		.will_email {
			max-height: 360px;
			text-align: left;
			overflow-y: auto;
			.form_box {
				margin-top: 0;
			}
			dl {
				margin-bottom: 25px;
			}
			dt {
				margin-bottom: 20px;
				span {
					margin-left:10px;
					font-size: 15px;
					color:#666666;
				}
			}
			dd {
				margin-top: 10px;
				input {
					width: calc(100% - 350px);
				}
				select {
					width: 250px;
				}
			}
			.mail_list {
				display: block;
				&:after {
					content: '';
					display: block;
					clear: both;
				}
				p {
					display: inline-block;
					// width: calc((100% / 3) - 10px);
					padding-right: 15px;
					margin-bottom: 15px;
					font-size: 16px;
					text-align: left;
					&:nth-child(3n) {
						padding-right: 0;
					}
					span {
						color:#888888;
					}
				}
			}
		}

		.btn_add {
			display: block;
			width: 30px;
			height: 30px;
			background: {
				image: url('../images/icons/btn_fieldadd.png');
				repeat: no-repeat;
				size: cover;
			};
		}
		.btn_del {
			display: block;
			width: 30px;
			height: 30px;
			background: {
				image: url('../images/icons/btn_fieldremove.png');
				repeat: no-repeat;
				size: cover;
			};
		}
		.btn_sending {
			width: 150px;
		}
		@include mixins.mobile() {
			.btnwrap {
				margin-top: 30px;
				.btn_cancel, .btn_submit {
					width: auto;
					min-width: 80px;
					height:35px;
					font-size: 12px;
				}
			}
		}
		.will_email {
			dt {
				span {
					margin-left: 0;
					font-size: 10px;
				}
			}
			dd {
				input {
					width: calc(100% - 190px);
				}
				select {
					width: 100px;
				}
			}
			.mail_list {
				p {
					font-size: 13px;
				}
			}
			.btn_add, .btn_del {
				width: 20px;
				height: 20px;
			}
		}
	}

	.agree_wrap {
		.my_desc {
			font-size: 16px;
			font-weight: 300;
			ul {
				margin-top: 30px;
			}
			p, li {
				font-size: 16px;
				font-weight: 300;
				line-height: 1.6;
			}
			text-align: left;
		}
	}

	@include mixins.mobile() {
		.layer_wrap {
			max-width: calc(100% - 30px);
			margin: 0 auto;
			.layer_box {
				padding: 25px;
				width: calc(100% - 50px);
				border-radius: 20px;
			}
		}
		.my_head {
			font-size: 16px;
		}
		.my_desc {
			font-size: 14px;
		}
		.ico_set {
			height: 45px;
			background-size: 33px;
		}
		.btnwrap {
			margin-top: 20px;
		}
		.btn_confirm {
			height: 50px;
			font-size: 14px;
		}
		.btn_submit {
			font-size: 14px;
		}
		.btn_cancel {
			font-size: 14px;
		}
		.ico_logout {
			height: 36px;
			background-size: 36px;
		}
		.logout_layer {
			.btn_submit, .btn_cancel {
				width:40%;
			}
		}

	.agree_wrap {
		.my_desc {
			font-size: 14px;
			ul {
				margin-top: 20px;
			}
			p, li {
				font-size: 14px;
				line-height: 1.5;
			}
		}
	}
	}
}


@include mixins.mobile() {
	.join_index {
		margin: 0 auto;

		.title {
			margin-bottom: 10px;
			font-size: 19px;
		}

		.desc {
			font-size: 10px;

			&._center {
				padding-top: 15px;
				font-size: 12px;
			}
			a {
				text-decoration: underline;
			}
		}

		[class^=btn_] {
			margin-bottom: 10px;
			height: 40px;
			font-size: 14px;

			i {
				width: 21px;
				background-size: 21px auto !important;
			}
		}

		.bt_reset {
			width: 20px;
			background-size: 15px;
		}

		.bt_pwd {
			width: 20px;
			background-size: 15px;
		}

		.btnwrap {
			[class^=btn_] {
				height: 40px;
				font-size: 14px;
			}
		}
	}

	.join_form {
		.agree_box {
			.agree_head {
				padding-bottom: 0;

				.chkwrap.type2 {
					label {
						input[type=checkbox] {
							&+span {
								font-size: 12px;
							}
						}
					}
				}
			}

			.chkwrap.type2 {
				margin-right: 10px;

				label {
					input[type=checkbox] {
						margin-right: 12px;

						&:before {
							top: -3px;
							width: 22px;
							height: 22px;
							background-size: 22px 22px;
						}

						&+span {
							font-size: 12px;
						}
					}
				}
			}

			.agree_list {
				li {
					padding: 0;
				}

				.btn_view {
					display: flex;
					align-items: center;
					margin-bottom: 0;
					font-size: 10px;
				}
			}
		}
	}
}

.mypage_wrap {
	.will_view {
		max-width:100%;
		.cont_head {
			align-items: flex-end;
			justify-content: space-between;
			p {
				font-size: 18px;
			}
		}
		.view_info {
			.view_num {
				font-size: 30px;
				font-weight: 500;
				color:#888888;
			}
		}
		.view_txt {
			margin-top: 15px;
		}
		.view_detail {
			display: flex;
			margin-top: 15px;
			p {
				margin-left: 30px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
		.view_btn {
			padding-top:10px;
			.btn {
				width: 100px;
				height: 40px;
				padding: 0;
				font-size: 18px;
			}
			.btn_cancel {
				background-color: #929292;
			}
			.btn_confirm {
				background-color: #c7613e;
			}
			.btn_point {
				background-color: #000000;
			}
		}
		.btn_wrap {
			.btn {
				min-width:80px;
			}
		}

		@include mixins.mobile() {
			.cont_head {
				margin-top: 0;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				p {
					font-size: 14px;
				}
			}
			.view_info {
				.view_num {
					font-size: 20px;
				}
			}
			.view_detail {
				display: block;
				margin-top: 5px;
				p {
					margin-left: 0;
					margin-top: 5px;
				}
			}
			.view_btn {
				> div {
					display: inline;
				}
				.btn {
					width: 75px;
					height: 35px;
					margin-bottom: 4px;
					font-size: 12px;
				}
			}
		}
	}
	.will_view-cont {
		position: relative;
		padding: 60px 60px 80px;
		background-color: #ffffff;
		background-image: url('../images/icons/ico_watermark.png');
		background-repeat: no-repeat;
		background-position: center top 50%;
		background-size: 220px;
		.paper_wrap {
			border: 1px solid #cccccc;
		}
		@include mixins.mobile() {
			padding: 0 0 60px;
			.paper_wrap {
				border: 0;
				.paper_cont {
					dd {
						p {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}