@use "mixins";
@use "swiper";

.displaynone {
	display: none !important;
}
.help_box {
	position: absolute;
	right:30px;
	top: 15%;
	.btn_help {
		display: block;
		margin-left: auto;
		width:180px;
		height: 50px;
		background: {
			image: url('../images/common/btn_help_off.png');
			size: cover;
			position: center center;
			repeat: no-repeat;
		}
		&._on {
			background: {
				image: url('../images/common/btn_help_on.png');
			}
		}
	}
	.bubble_box {
		display: none;
		position: relative;
		width: 298px;
		margin-top: 10px;
		padding-top: 13px;
		.bubble_top {	
			position: absolute;
			top: 0;
			right: 30px;
			width: 16px;
			height:10px;
			background: {
				image: url('../images/common/bubble_top.png');
				size: cover;
				position: center center;
				repeat: no-repeat;
			}
		}
		.bubble_inn {
			margin-top: -5px;
			padding: 20px 15px;
			background-color: #ffffff;
			border: 1px solid #989898;
			border-radius: 20px;
			p {
				font-size: 15px;
				font-weight: 300;
				color:#555555;
			}
		}
		&.show {
			display: block;
		}
	}

	@include mixins.mobile() {
		position: relative;
		right: 0;
		top: 0;
		margin-top: 10px;
		.btn_help {
			width: 100px;
			height: 30px;
		}
		.bubble_box {
			position: absolute;
			top: 30px;
			right: 0;
			width: 240px;
			z-index: 10;
			.bubble_inn {
				padding: 15px;
				border-radius: 15px;
				p {
					font-size: 12px;
				}
			}
		}
	}
}
.write_intro {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		// background-color: rgba(0,0,0, 0.7);
		background-color:#4b4b4b;
	}
	div {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		max-width: 620px;
		max-height: 400px;
		cursor: pointer;
		background: {
			image: url('../images/common/intro01.gif');
			size:cover;
			position: center center;
			repeat: no-repeat;
		}
		border-radius: 45px;
		font-size: 0;
		color:transparent;
	}
	&.simple_intro {
		div {
			background: {
				// image: url('../images/common/intro01.png');
				image: url('../images/common/intro01.gif');
			}
		}
	}
	&.premium_intro {
		div {
			background: {
				// image: url('../images/common/intro02.png');
				image: url('../images/common/intro02.gif');
			}
		}
	}

	@include mixins.mobile() {
		div {
			width: calc(100% - 30px);
			height: 70vw;
			font-size: 25px;
		}
	}
}

.sub_container {
	display: flex;
	gap: 11%;
	max-width: 1200px;
	min-height: calc(100vh - 540px);
	margin: 0 auto;
	padding: 80px 0 105px;

	.aside {
		padding-right: 36px;

		.aside_tit {
			position: relative;
			padding-top: 5px;
			margin-bottom: 20px;
			padding-left: 14px;
			font-size: 22px;
			color: #016241;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 100px;
				background-color: #016241;
			}
		}

		.aside_menu {
			width: 165px;
			li {
				margin-bottom: 10px;
				// &:hover,
				&.active {
					a {
						border: 1px solid #888888;
						color: #016241;
					}
				}
				// &.checking {
				// 	a {
				// 		color:#000000;
				// 	}
				// }
			}

			a {
				display: flex;
				width: calc(100% - 26px);
				height: 30px;
				align-items: center;
				padding: 0 13px;
				border: 1px solid transparent;
				border-radius: 25px;
				font-size: 18px;
				color: #888888;
			}
		}
    .aside_status {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: -10px;
      margin-bottom: 10px;
      font-weight: 700;
      strong {
        font-size: 60px;
        color: #016241;
      }
      span {
        margin-top:13px;
        font-size: 26px;
      }

			@include mixins.mobile() {
				position: absolute;
				top: 0;
				left: 120px;
				strong {
					font-size: 30px;
					font-weight: 700;
				}
				span {
					font-size: 12px;
				}
			}
    }
	}

	// .aside
	.content {
		width: 100%;
		max-width: 700px;

		.cont_head {
			margin-bottom: 30px;
			font-weight: 500;
			font-size: 38px;

			span {
				font-size: inherit;
				font-weight: inherit;
				color: #016241;
			}

			.desc {
				margin-top: 20px;
				font-weight: 400;
				font-size: 16px;
			}
		}
	}
}

.form_box {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 27px;
  &:first-of-type {
    margin-top: 0;
  }
  .essential {
    display: inline-block;
    &:before {
      content: '*';
      display: block;
      font-size: 18px;
      font-style: normal;
      color:#c7613e;
    }
  }
  .form_field {
    width: 100%;
    text-align: left;
    dt {
      min-height: 19px;
      margin-bottom: 5px;
      font-weight: 500;
      span {
        font-weight: 400;
        font-size: 15px;
        color:#666666;
      }
			&.dt_flex {
				display: flex;
				align-items: center;
				margin-bottom: 10px;
				div {
					margin-left: 15px;
					.chkwrap.radio_chk {
						label {
							font-size: 16px;
							input[type=radio]:before {
								top: -17px;
								background-size: 25px;
							}
						}
						@include mixins.mobile() {
							min-height: auto;
							label {
								font-size: 13px;
								input[type=radio]:before {
									top: -5px;
									background-size: 20px;
								}
							}
						}	
					}
				}

				@include mixins.mobile() {
					margin-bottom: 0;
				}
			}
    }
    dd {
      position: relative;
      display: flex;
      gap: 10px;
      align-items: center;
      margin-top: 20px;
      &:first-of-type {
        margin-top: 0;
      }
      &.mid_size {
        width: 60%;
      }
      &.sm_size {
        width: 25%;
      }
    }
    .infotxt {
      margin-top: 10px;
      padding-left: 15px;
      p {
        font-size: 15px;
        font-weight: 400;
        color:#666666;
      }
      &.errortxt {
        p {
          color:#c7613e;
        }
      }
    }
    .unit {
      position: absolute;
      right: 20px;
      top: 50%;
      @include mixins.translate(0, -50%);
    }
    &.field_inline {
      display: flex;
      align-items: center;
      dt {
        width: 90px;
        margin-bottom: 0;
      }
    }
  }
  &._auto {
    justify-content:space-between;
    .form_field {
      width: auto;
    }
  }
	.field_double 

	&:first-of-type {
		margin-top: 0;
	}

	.essential {
		display: inline-block;

		&:before {
			content: '*';
			display: block;
			font-size: 18px;
			font-style: normal;
			color: #c7613e;
		}
	}

	.form_field {
		width: 100%;
		text-align: left;

		dt {
			min-height: 19px;
			margin-bottom: 5px;
			font-weight: 500;

			span {
				font-weight: 400;
				font-size: 15px;
				color: #666666;
			}
		}

		dd {
			position: relative;
			display: flex;
			gap: 10px;
			align-items: center;
			margin-top: 20px;

			&:first-of-type {
				margin-top: 0;
			}
		}

		.infotxt {
			margin-top: 10px;
			padding-left: 15px;

			p {
				font-size: 15px;
				font-weight: 400;
				color: #666666;
			}

			&.errortxt {
				p {
					color: #c7613e;
				}
			}
		}

		.unit {
			position: absolute;
			right: 20px;
			top: 50%;
			@include mixins.translate(0, -50%);
		}
	}

	&._auto {
		justify-content: space-between;

		.form_field {
			width: auto;
		}
	}
	.field_double {
		.inn {
			position: relative;
		}

	}

	.form_chk {
		position: absolute;
		right: 10px;
		top: 50%;
		@include mixins.translate(0, -50%);
		display: flex;
	}

	.bt_pwd {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin-left: 8px;

		background: {
			image: url('../images/icons/ico_pwd_hide.png');
			size: 25px;
			repeat: no-repeat;
			position: center center;
		}

		&.show {
			background: {
				image: url('../images/icons/ico_pwd_show.png');
			}
		}
	}

	.bt_reset {
		display: inline-block;
		display: none;
		width: 30px;
		height: 30px;

		background: {
			image: url('../images/icons/ico_txt_del.png');
			size: 22px;
			repeat: no-repeat;
			position: center center;
		}
	}
}

.form_btn {
	display: flex;
	width: 100%;
	padding: 60px 0;
	justify-content: center;

	@include mixins.mobile() {
		padding: 25px 0;
	}
}

.form_result {
  .table_cnt {
    margin-bottom:10px;
		font-size: 18px;
		color:#888888;
		strong {
			color:#000000;
		}
  }
  .btn_delete {
    display: block;
    width: 27px;
    height: 27px;
    background: {
      image: url('../images/icons/ico_trash.png');
      repeat: no-repeat;
      position: center center;
      size: cover;
    }
  }
  .table_box {
    margin-bottom: 12px;
  }
	@include mixins.mobile() {
		.table_cnt {
			font-size: 12px;
			strong {

			}
		}
		.btn_delete {
			background-size: 18px;
		}
	}
}
.form_table {
	width: 100%;
	border-top:1px solid #b9b9ba;
	border-bottom:1px solid #b9b9ba;
	tr {
		// display: flex;
		// justify-content: space-between;
		.td_del {
			width: 60px;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
		}
		th {
			min-width: 80px;
			padding:0 20px;
			background-color: #eeeeee;
			border-left: 1px solid #b9b9ba;
			// border-bottom: 1px solid #b9b9ba;
			&:first-child {
				border-left: 0;
				// width: 30%;
			}
		}
		td {
			// width: 100%;
			padding:10px 20px;
			border-left: 1px solid #b9b9ba;
			border-bottom: 1px solid #b9b9ba;
			&:first-child {
				border-left: 0;
			}
		}
		&:last-of-type {
			td {
				border-bottom: 0;
			}
		}
	}
	th, td {
		// display: inline-flex;
		// align-items: center;
		// justify-content: flex-start;
		height: 58px;
		vertical-align: middle;
	}
	td {
		height: 38px;
	}
	.center {
		text-align: center;
		th, td  {
			text-align: center;
		}
	}
	// tbody {
	// 	& + thead {
	// 		border-top: 1px solid #b9b9ba;
	// 	}
	// }
	@include mixins.mobile() {
		tr {
			th, td {
				height: 25px;
				padding:10px 10px;
				font-size: 13px;
			}
			th {
				min-width: auto;
			}
			.td_del {
				width: 30px;
			}
		}
	}
}

.btn_delete {
	display: block;
	width: 27px;
	height: 27px;
	margin: 0 auto;

	background: {
		image: url('../images/icons/ico_trash.png');
		repeat: no-repeat;
		position: center center;
		size: cover;
	}
}

.step_layer {
	.step_head {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 30px 0;

		>div {
			margin-left: 20px;
		}
	}

	.step_bar {
		width: 100%;
		max-width: 350px;
		height: 14px;
		background-color: #656565;
		border-radius: 25px;
		overflow: hidden;

		p {
			width: 100%;
			height: 100%;
			background-color: #eac785;
		}
	}

	.step_cnt {
		display: flex;
		font-size: 28px;
		font-weight: 400;
		color: #cccccc;

		p {
			span {
				color: #ffffff;
			}
		}
	}

	.btn_save {
		padding: 14px 30px;
		background-color: #000000;
		color: #ffffff;
		font-size: 20px;
		border-radius: 25px;
	}

	.btn_confirm {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 75px;
		background-color: #f2f2f2;
		color: #666666;
		font-size: 26px;
	}

	@include mixins.mobile() {
		.step_cnt {
			font-size: 14px;
		}
		.step_head {
			width: calc(100% - 25px);
			justify-content: space-between;
			margin: 0 auto;
			padding: 20px 0;
			> div {
				display: flex;
				align-items: center;
				margin-left: 0;
			}
		}
		.step_bar {
			width: 50%;
		}
		.btn_save {
			padding: 10px;
			font-size: 10px;
		}
		.btn_confirm {
			height: 45px;
			font-size: 14px;
		}
	}
}

.step_content {
	padding: 50px 45px;

	.step_q {
		display: flex;
		// align-items: center;
		margin-bottom: 30px;
		font-weight: 400;
		font-size: 38px;

		strong {
			margin-right: 10px;
			font-weight: 500;
			font-size: 120px;
			font-family: 'NanumSquare';
			font-weight: 300;
			line-height: 100%;
		}
		p{
			padding-top: 6px;
		}

		span {
			font-weight: 500;
			color: #016241;
		}

		i {
			display: block;
			margin-top: 20px;
			font-style: normal;
			font-size: 20px;
			font-weight: 400;
			color: #888888;
		}
	}

	.step_cont {
		margin-left: 30px;
	}

	.chk_list {
		li {
			margin-top: 20px;

			&:first-child {
				margin-top: 0;
			}
		}

		&.multi_line {
			display: flex;
			justify-content: space-between;
			margin-top: 25px;

			li {
				display: flex;
				flex: 1;
				margin-top: 0;
			}
		}
		&.multi_type {
			li {
				display: flex;
				flex: 1;
				.chkwrap.type2 {
					width: 30%;
				}
				.chkwrap.type3 {
					margin-top: -2px;
				}
				div {
					display: flex;
				}
			}

			@include mixins.mobile() { 
				li {
					.chkwrap.type2 {
						width: 40%;
					}
				}
			}
		}
	}

	@include mixins.mobile() {
		padding: 20px 30px;
		.step_q {
			align-items: flex-start;
			margin-bottom: 15px;
			font-size: 19px;
			strong {
				font-size: 60px;
			}
			p {
				margin-top: 3px;
			}
			i {
				margin-top: 10px;
				font-size: 14px;
			}
		}
		.step_cont {
			margin-left: 0;
		}
		.chk_list {
			li {
				margin-top: 0;
			}
			.chkwrap {
				label {
					font-size: 14px;
					input {
						& + span {
							font-size: 14px;
						}
					}
				}
			}
			&.multi_line {
				margin-top: 10px;
			}
		}
	}
}

.quest {
	margin-top: 20px;
	margin-bottom: 8px;
	font-size: 18px;
}

.sub_container {
	.testament_check {
		padding: 50px;
		background-color: #ffffff;;
		.cont_head {
			font-size: 30px;
			color:#016241;
			text-align: center;
			> p {
				position: relative;
				display: inline-block;
				z-index: 1;
				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom:0;
					left: 0;
					width: 100%;
					height:10px;
					background-color: #eee8da;
					z-index: -1;
				}
			}
		}
		@include mixins.mobile() {
			margin-left: -20px;
			margin-right: -20px;
			padding: 25px 20px;
		}
	}
}
.simple_wrap,
.premium_wrap {
	.btn_wrap {
		> div {
			display: inherit;
		}
		.btn {
			min-width: 130px;
		}
		&._half {
			> div {
				width: 50%;
				&:last-child {
					display: flex;
					justify-content: flex-end;
					a {
						margin-left: 5px;
					}
				}
			}
		}
	}
}
.testament_check-box {
	margin-bottom: 30px;
	p {
		line-height: 1.4;
	}
	hr {
		height: 25px;
		border: 0;
	}
	strong {
		display: block;
		font-weight: 700;
		margin-bottom: 5px;
	}
	.btn_modify {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 110px;
		height: 40px;
		border-radius: 5px;
		background-color: #c7613e;
		font-size: 18px;
		color:#ffffff;
		i {
			display: inline-flex;
			width:26px;
			height:24px;
			margin-right: 10px;
			background: {
				image: url('../images/icons/ico_modi.png');
				size: cover;
				repeat:no-repeat;
				position: center center;
			};
		}
	}
	.title {
		position: relative;
		margin-bottom: 25px;
		font-size: 22px;
		color: #016241;
		font-weight:500;
		.btn_modify {
			position:absolute;
			right: 0;
			top:0;
		}
	}
	.sub_title {
		display: inline-block;
		margin-right: 15px;
		font-size: 18px;
		color:#c7613e;
	}
	.mix_box {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		margin-bottom: 40px;
		.table_area {
			width: calc(100% - 140px);
		}
		.form_table {
			margin-bottom: 10px;
			th {
				height: 40px;
			}
			td {
				height: 30px;
			}
		}
	}
	.table_title {
		margin-bottom: 5px;
		font-size: 18px;
	}
	.personal_data {
		li {
			display: flex;
			margin-bottom: 15px;
			font-size: 18px;
		}
	}
	.default_data {
		.sub_title {
			font-size: 16px;
			color:#000000;
		}
		li {
			display: flex;
			margin-bottom: 10px;
			font-size: 16px;
		}
	}
	@include mixins.mobile() {
		position: relative;
		margin-bottom: 35px;
		.title {
			font-size: 16px;
		}
		.btn_modify {
			width: 70px;
			height: 30px;
			font-size: 13px;
			i {
				width: 20px;
				margin-right: 5px;
				background-size: 16px;
			}
		}
		.sub_title {
			font-size: 16px;
		}
		p {
			font-size: 15px;
		}
		.mix_box {
			display: block;
			gap: 0;
			.btn_modify {
				position: absolute;
				right: 0;
				top: 0;
			}
			.table_area {
				width: 100%;
			}
			.table_title {
				margin-bottom: 8px;
				font-size: 14px;
			}
			.form_table {
				th {
					height: 25px;
				}
			}
		}
		.default_data {
			li {
				display: block;
				margin-bottom: 15px;
			}
			.sub_title {
				font-size: 15px;
				color:#616161;
			}
			p {
				padding-left: 15px;
				margin-top: 5px;
				font-size: 15px;
			}
		}
	}
}

.preview_layer {
	.layer_wrap {
		max-width: 1200px;
	}
	.layer_box {
		height: calc(75vh - 120px);
		padding: 60px 60px 70px;
		background: {
			image: url('../images/icons/ico_watermark.png');
			repeat: no-repeat;
			position: center top 60%;
			size: 220px;
		}
		border-radius: 0;
	}
	.layer_bottom {
		padding-top: 50px;
		text-align: right;
		.btn {
			width: 150px;
		}
	}

	._mobile {display: none;}
  @include mixins.mobile() {
		&.layer_body {
			._mobile {
				display: block;
				max-width: 400px;
				height: 45px;
				margin-bottom: 15px;
				img {
					height: 100%;
				}
			}
			.paper_demo {display: none;}
			.layer_wrap {
				width: calc(100% - 30px);
			}
			.layer_box {
				padding: 40px 15px 40px;
				background-size: 30%;
				background-position: center center;
			}
			.layer_bottom {
				padding-top: 25px;
				.btn {
					width: 20%;
				}
			}
		}
	}
}
.paper_demo {
	position: absolute;
	right: 25px;
	top: 15%;
	z-index: 1;
	.btn_demoview {
		display: block;
		width: 184px;
		height: 56px;
		margin-left: auto;
		margin-top: 5px;
		background: {
			image: url('../images/common/btn_demoview.png');
			repeat: no-repeat;
			size: cover;
			position: 0 0;
		}
	}
	.btn_prevview {
		display: block;
		width: 184px;
		height: 56px;
		margin-left: auto;
		margin-top: 5px;
		background: {
			image: url('../images/common/btn_prevview.png');
			repeat: no-repeat;
			size: cover;
			position: 0 0;
		}
	}
	.bubble_box {
		width:293px;
		height:81px;
		background: {
			image: url('../images/common/bubble_bg.png');
			repeat: no-repeat;
			size: cover;
			position: 0 0;
		}
		p {
			padding: 15px;
			font-size: 15px;
			line-height: 1.4;
			color:#555555;
		}
	}
}
.paper_wrap {
	position: relative;
	width: calc(100% - 60px);
	height: calc(100% - 100px);
	border: 1px solid #cccccc;
	padding: 50px 30px 50px;
	overflow-y: auto;
	.paper_title {
		padding-bottom: 90px;
		font-size: 60px;
		font-weight: 300;
		text-align: center;
	}
	p {
		font-size: 18px;
		font-weight: 300;
		span {
			color:#016241;
			text-decoration: underline;
		}
	}
	.paper_cont {
		margin-top: 50px;
		&:first-child {
			margin-top: 0;
		}
		dt {
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: 500;
			color: #016241;
		}
		dd {
			padding: 0 0 0 20px;
			p {
				margin-bottom: 6px;
				font-size: 18px;
				font-weight: 400;
			}
		}
	}
	.paper_inn {
		margin-bottom: 23px;
		span {
			display: block;
			padding-left: 20px;
			margin-bottom: 6px;
			font-size: 18px;
			font-weight: 400;
		}
		p {
			span {
				display: inline-flex;
				padding-left: 0;
				margin-bottom: 0;
			}
		}
		.list_p {
			position: relative;
			display: flex;
			align-items: baseline;
			margin-bottom: 5px;
			em {
				display: inline-block;
				padding-right: 5px;
				font-size: 18px;
			}
			p {
				display: inline-block;
				margin-bottom: 0;
			}
		}
	}
	.paper_sign {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		margin-top: -40px;
		.sign_area {
			width: 310px;
			p {
				margin-bottom:45px;
			}
			.blank {
				display: inline-block;
				width: 150px;
			}
		}
		.paper_info {
			display: flex;
			gap: 25px;
			> div {
				display: flex;
				align-items: flex-end;
				p {
					margin-right: 10px;
					padding-bottom: 20px;
				}
			}
		}
	}
	.page03 {
		position: relative;
	}
}
.paper_paging {
	position: absolute;
	bottom: 15px;
	left: 50%;
	@include mixins.translate(-50%, 0);
	display: flex;
	align-items: center;
	gap: 20px;
	p {
		font-size: 18px;
	}
	[class^=btn] {
		display: inline-flex;
		width: 70px;
		height: 40px;
		padding-left: 20px;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		background-color: #ebebeb;
		font-size: 18px;
		color:#888888;
		background-repeat: no-repeat;
		background-size: 9px;
	}
	.btn_prev {
		background: {
			image: url('../images/icons/ico_prev.png');
			position: left 14px center;
		};
	}
	.btn_next {
		padding-left: 0;
		padding-right: 20px;
		background: {
			image: url('../images/icons/ico_next.png');
			position: right 14px center;
		};
	}
}
.demoview_layer {
	.paper_wrap {
		.paper_cont {
			dd {
				p {
					display: table;
					background-color: #fff474;
				}
				span {
					display: table;
					background-color: #fff474;
				}
				.underline {
					display: inline-table;
				}
			}
			.list_p {
				p {
					background-color: transparent;
				}
			}
		}
	}
}
.sub_container {
	.premium_end {
		max-width: 850px;
		.end_head {
			display: flex;
			align-items: center;
			gap: 40px;
			margin-bottom: 55px;
		}
		.btn_download {
			display: block;
			width: 270px;
			height: 360px;
			background: {
				image: url('../images/common/btn_premium_download.png');
				repeat: no-repeat;
				position: 0 0;
				size: cover;
			};
		}
		.end_title {
			p {
				margin-bottom: 30px;
				font-size: 38px;
				font-weight: 600;
				span {
					color: #016241;
					font-weight: inherit;
				}
			}
			li {
				padding-bottom: 5px;
				font-size: 15px;
				color:#666666;
			}
		}
		.end_push {
			.title {
				width: 50%;
				margin-bottom: 20px;
				font-size: 20px;
				line-height: 1.4;
			}
			.form_field {
				dt {
					span {
						font-size: inherit;
						font-weight: inherit;
						color:#016241;
					}
				}
				input {
					width:45%;
				}
				select {
					width: 25%;
				}
			}
			.btn_add {
				display: block;
				width: 30px;
				height: 30px;
				background: {
					image: url('../images/icons/btn_fieldadd.png');
					repeat: no-repeat;
					size: cover;
				};
			}
			.btn_del {
				display: block;
				width: 30px;
				height: 30px;
				background: {
					image: url('../images/icons/btn_fieldremove.png');
					repeat: no-repeat;
					size: cover;
				};
			}
		}
		.end_bottom {
			display: flex;
			gap: 40px;
			.ico {
				width: 35%;
				text-align: center;
				img {
					max-width:200px;
				}
			}
			p {
				margin-bottom: 30px;
				font-size: 38px;
				font-weight: 600;
				span {
					color: #c7613e;
					font-weight: inherit;
				}
			}
			li {
				font-size: 20px;
				line-height: 1.4;
				color:#000000;
			}
		}
	}
	@include mixins.mobile() {
		.premium_end-aside {
			display: none;
		}
		.premium_end {
			.end_head {
				position: relative;
				align-items: flex-start;
				justify-content: space-between;
				flex-direction: column;
				gap: 0;
				margin-bottom: 40px;
				.end_title {
					p {
						position: absolute;
						right:0;
						top: 45px;
						font-size: 19px;
						width: calc(50% - 20px);
					}
					ul {
						margin-top: 20px;
					}
					li {
						font-size: 10px;
						letter-spacing: -0.05em;
					}
				}
				.btn_download {
					width: 50%;
					padding-top: 60vw;
					height: auto;
				}
			}
			.end_push {
				.title {
					width: 80%;
					font-size: 13px;
				}
				.form_box {
					.form_field {
						dt {
							margin-bottom: 13px;
							span {
								display: inline-block;
								margin-top: 0;
							}
						}
						select {
							width: 32%;
						}
						input, select {
							font-size: 13px;
						}
					}
				}
				.btn_add, .btn_del {
					width: 20px;
					height: 20px;
				}
			}
			.end_bottom {
				gap : 20px;
				justify-content: space-between;
				.ico {
					flex: 1;
					display: block;
					width: 100%;
					img {
						width: 100px;
					}
				}
				.end_title {
					flex: 1;
				}
				p {
					font-size: 19px;
				}
				li {
					font-size: 12px;
					br {display: none;}
				}
			}
		}
	}	
}
.email_layer, .notarize_layer {
	.layer_wrap {
		width: 100%;
		max-width: 540px;
	}

	.layer_box {
		padding: 55px 50px 50px;
		border-radius: 25px;
		text-align: center;
	}
	.layer_head {
		padding-bottom: 25px;
		font-weight: 500;
		font-size: 22px;
	}

	.layer_desc {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.4;
	}
	.btnwrap {
		margin-top: 40px;
	}

	.btn_cancel {
		display: inline-flex;
		width: 170px;
		height: 50px;
		align-items: center;
		justify-content: center;
		border-radius: 50px;
		background-color: #929292;
		color: #ffffff;
		font-size: 20px;
		font-weight: 500;
	}
	.btn_submit {
		display: inline-flex;
		width: 170px;
		height: 50px;
		align-items: center;
		justify-content: center;
		border-radius: 50px;
		background-color: #000000;
		color: #ffffff;
		font-size: 20px;
		font-weight: 500;
	}

	@include mixins.mobile() {
		.layer_wrap {
			width: calc(100% - 30px);
		}
		.layer_box {
			padding: 40px 20px;
			width: calc(100% - 40px);
		}
		.layer_head {
			font-size: 14px;
		}
		.layer_desc {
			font-size: 13px;
		}
		.btn_submit {
			width: 140px;
			height: 40px;
			font-size: 14px;
		}
	}
}

.sub_container  {
	.notarize_wrap {
		.cont_head {
			margin-bottom: 50px;
			.desc {
				font-size: 20px;
				line-height: 1.4;
			}
		}
		.form_field {
			dt {
				position: relative;
				span {
					font-size: inherit;
					font-weight: inherit;
					color: #016241;
				}
			}
		}
		.btn_spreview {
			position: absolute;
			right: 0;
			top: 0;
			width: 105px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #c7613e;
			border-radius: 5px;
			color: #ffffff;
		}

		.agree_box {
			margin-top: 35px;
	
			.chkwrap.type2 {
				display: inline-block;
				margin-right: 20px;
	
				label {
					input[type=checkbox] {
						margin-right: 20px;
	
						&:before {
							top: -8px;
							width: 30px;
							height: 30px;
							background-size: 30px;
						}
	
						&+span {
							font-weight: 500;
							font-size: 16px;
							color: #000000;
	
							em {
								color: #c7613e;
	
								&.nor {
									color: #888888;
								}
							}
						}
					}
				}
			}
	
			.agree_head {
				padding-bottom: 10px;
				border-bottom: 1px dotted #b8b8b9;
	
				.chkwrap.type2 label {
					input[type=checkbox] {
						&+span {
							font-size: 18px;
						}
					}
				}
			}
	
			.agree_list {
				margin-top: 10px;
	
				li {
					display: flex;
					align-items: center;
					padding: 5px 0;
				}
	
				.btn_view {
					font-size: 15px;
					font-weight: 400;
					color: #888888;
				}
			}
		}
	
		input[type=text],
		input[type=password] {
			padding-right: 60px;
		}
	}
}
@include mixins.mobile() {
	.sub_container.premium_wrap {
		.notarize_wrap.content {
			.cont_head {
				margin-top: 0;
			}
			.btn_spreview {
				width: 90px;
				height: 35px;
			}
			.agree_box {
				margin-top: 25px;
				.chkwrap.type2 {
					min-height: 35px;
					label {
						min-height: inherit;
						input[type=checkbox] {
							margin-right: 10px;
							&:before {
								top: -4px;
								width: 22px;
								height: 22px;
								background-size: 22px;
							}
							& + span {
								font-size: 13px;
							}
						}
					}
				}
				.agree_list {
					margin-top: 0;
					.btn_view {
						font-size: 12px;
					}
				}
			}
			.btn_wrap .btn {
				width: 110px;
			}
		}

	}
}


@include mixins.mobile() {
	.sub_container {
		width: calc(100% - 40px);
		min-height: calc(100vh - 360px);
		padding: 40px 20px 50px;
		&.simple_wrap,
		&.premium_wrap {
			flex-direction: column;
		}
		.aside {
			position: relative;
			padding-right: 0;
			margin-right: -20px;
			.aside_tit {
				padding-left: 7px;
				padding-top: 3px;
				margin-bottom: 20px;
				font-size: 15px;
				&::before {
					width: 5px;
					height: 5px;
				}
				&::after {
					content: '';
					position: absolute;
					right: 6px;
					top: 10px;
					display: block;
					width: 8px;
					height: 7px;
					border-top: 1px solid #000;
					border-right: 1px solid #000;
					transform: rotate(135deg);
					display: none;
				}
				&.open {
					margin-bottom: 20px;
					&::after {
						transform: rotate(-45deg);
					}
				}
			}
			.aside_menu {
				// display: none;
				width: 100%;
				height:40px;
				overflow: hidden;
				display: flex;
				overflow: scroll;
				white-space: nowrap;
				&.open {
					display: block;
					height: auto;
				}
				li {
					display: inline-block;
					margin-right: 5px;
					margin-bottom: 12px;
					&:last-child {
						margin-right: 15px;
					}
					&.checking {
						a {
							color:#888888;
						}
					}
					&.active {
						a {
							border-color:#016241;
						}
					}
				}
				a {
					border: 1px solid #d7d7d7;
					font-size: 13px;
				}
			}
		}

		.content {
			.cont_head {
				margin-top: 20px;
				font-size: 19px;
				.desc {
					margin-top: 10px;
					font-size: 10px;
				}
			}
		}

		&.simple_wrap, 
		&.premium_wrap {
			.content {
				.cont_head {
					margin-top: 30px;
					margin-bottom: 15px;
				}
				&.testament_check {
					.cont_head {
						margin-bottom: 30px;
					}
				}
			}

			.btn_wrap {
				&._half {
					> div {
						&:first-child {
							.btn_round {
								width: 50px;
							}
						}
					}
					.btn_round {
						min-width: 80px;
						text-align: center;
					}
				}
			}
		}
	}

	.form_box {
		display: block;
		margin-top: 20px;
		.form_field {
			dt {
				min-height: 0;
				font-size: 13px;
				span {
					display: block;
					margin-top: 5px;
					font-size: 11px;
				}
			}
			dd {
				margin-top: 10px;
				&.mid_size {
					width: 100%;
				}
			}

			.infotxt {
				margin-top: 7px;

				p {
					font-size: 10px;
				}
			}
			& + .form_field {
				margin-top: 20px;
			}
		}
		&._auto {
			.form_field {
				width: 100% !important;
			}
		}
	}
}
.premium_step12 {
	textarea {
		width: 100%;
		height: 500px;
	}
	@include mixins.mobile() {
		textarea {
			height: 250px;
		}
	}

}

@include mixins.mobile() {
	.premium_step06 {
		.form_box {
			.form_field {
				width: 100% !important;
			}
		}
	}
	.quest {
		margin-top: 10px;
		font-size: 13px;
	}
	.premium_step08 {
		.chkwrap.radio_chk.type1 {
			label {
				min-height: 35px;
				font-size: 12px;
			}
		}
	}
	.premium_step11 {
		.chkwrap.type4 label {
			font-size: 12px;
			input[type=checkbox], 
		  input[type=radio] {
				margin-right: 15px;
				&:before {
					top: -8px;
					background-size: 22px;
				}
			}
		}
	}
}

.insurance_more {
	display: flex;
	max-width:220px;
	margin-left: auto;
	margin-bottom: 80px;
	flex-direction: column;
	text-align: center;
	p {
		margin-bottom: 10px;
	}
	.btn_goinsur {
		padding: 15px 15px;
		border: 1px solid #777777;
		border-radius: 45px;
	}
	@include mixins.mobile() {
		margin-bottom: 40px;
		p {
			font-size: 14px;
		}
		.btn_goinsur {
			padding: 10px 10px;
			font-size: 13px;
		}
		
	}
}
.insurance_layer {
	.layer_wrap {
		width: 100%;
		max-width: 670px;
	}

	.layer_box {
		padding: 55px 25px 50px;
		border-radius: 25px;
		text-align: center;
	}
	.layer_head {
		padding-bottom: 25px;
		font-weight: 500;
		font-size: 22px;
		border-bottom: 1px solid #000;
	}

	.layer_desc {
		max-height: 400px;
		overflow-y: auto;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.4;
	}
	.insurance_list {
		padding: 30px;
		.items {
			display: flex;
			gap: 40px;
			p {
				flex: 1;
			}
			a {
				display: block;
				border: 1px solid #d9d9d9;
				border-radius: 5px;
				text-align: center;
				overflow: hidden;
				&.checked {
					border: 2px solid #016241;
				}
			}
			span {
				display: block;
				padding: 10px 0 30px;
				text-transform: uppercase;
			}
		}
	}
	@include mixins.mobile() {
		.layer_box {
			padding: 25px 15px;
		}
		.insurance_list {
			padding: 15px 0;
			.items {
				display: flex;
				gap: 15px;
				span {
					padding-bottom: 15px;
					font-size: 13px;
				}
			}
		}
	}
}

@include mixins.mobile() {
	.paper_wrap {
		width: calc(100% - 40px);
		padding: 50px 20px 20px;
		.paper_title {
			padding-bottom: 35px;
			font-size: 20px;
		}
		p {
			font-size: 12px;
			line-height: 1.4;
			span {
				font-size: inherit;
			}
		}
		.paper_cont {
			margin-top: 25px;
			dt {
				font-size: 12px;
			}
			dd {
				padding-left: 0;
			}
		}
		.paper_inn {
			.list_p {
				em {
					font-size: 12px;
				}
			}
			span {
				padding-left: 10px;
				font-size: 12px;
			}
		}
		.paper_sign {
			margin-top: 0;
			.sign_area {
				width: 100%;
				p {
					margin-bottom: 30px;
				}
			}
			.paper_info {
				flex-direction: column;
				gap: 10px;
				img {
					height: 40px;
				}
				> div p {
					padding-bottom: 9px;
				}
			}
		}
	}
	.paper_paging {
		p {
			width: 50px;
			font-size: 12px;
			text-align: center;
		}
		[class^=btn] {
			width: 60px;
			height: 35px;
			font-size: 12px;
		}
	}
}

.about_container {
	gap:0;
	.about_wrap {
		max-width: 100%;
		margin-left: 0;
		.quick_bnr {
			display: flex;
			max-width: 860px;
			margin-left: auto;
			margin-bottom: 80px;
			.bnr {
				flex: 1;
				display: flex;
				height: 170px;
				align-items: center;
				background: {
					repeat: no-repeat;
					position: 0 0;
					size: cover;
				}
				span {
					display: block;
					width: 100%;
					max-width: 170px;
					margin-left: 60px;
					color:#ffffff;
					font-size: 22px;
					font-weight: 600;
					// background: {
					// 	image: url('../images/icons/ico_link.png');
					// 	size: auto 18px;
					// 	repeat: no-repeat;
					// 	position: right bottom 5px;
					// }
				}
			}
			.bnr_01 {
				background-image: url('../images/common/about_bnr01.jpg');
			}
			.bnr_02 {
				margin-left: 20px;
				background-image: url('../images/common/about_bnr02.jpg');
			}
		}
		.about_head {
			position:relative;
			display: flex;
			margin: 0 auto 30px;
			max-width: 505px;
			padding-left: 60px;
			padding-top: 130px;
			// padding-bottom:15px;
			font-size: 38px;
			font-weight: 500;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				display: block;
				width: 50px;
				height: 50px;
				border-radius: 100%;
				background-color: #016241;
			}
			i {
				position: absolute;
				right: 15%;
				top: 0;
				display: inline-block;
				width: 80px;
				height: 130px;
				// margin-left: 10px;
				background: {
					image: url('../images/icons/ico_pencil.png');
					size: cover;
					repeat: no-repeat;
					position: right bottom;
				}
				vertical-align: bottom;

			}
		}
		.about_detail{
			width: 100%;
			padding: 40px 0;
			background: {
				image: url('../images/common/about_bg.jpg');
				size: cover;
				repeat: no-repeat;
				position: center 0;
			}
			.items {
				display: flex;
				align-items: center;
				max-width: 860px;
				margin: 0 auto 30px;
				&._left {
					.text {
						order: 1;
						text-align: right;
						p {
							padding-left: 0;
							padding-right: 20px;
						}
					}
					.imgs {
						order: 2;
					}
				}
			}
			.imgs {
				flex: 1;
			}
			.text {
				flex: 1;
				p {
					padding-left: 20px;
					font-size: 30px;
					font-weight: 400;
					letter-spacing: -0.05em;
					line-height: 1.3;
					span {
						color:#016241;
					}
				}
			}
			.items_type {
				margin-top: 70px;
				margin-bottom: 0;
				strong {
					display: block;
					padding-bottom: 20px;
					font-size: 30px;
					font-weight: 700;
				}
				.text {
					width: 27%;
					p {
						padding-left: 0;
						padding-bottom: 20px;
						font-weight: 400;
						font-size: 22px;
						line-height: 1.4;
					}
					.btn {
						height: 40px;
						border: 1px solid #000;
						border-radius: 35px;
						font-size: 22px;
						color:#000000;
					}
				}
				.items_swipe {
					position: relative;
					width: 73%;
					height: 358px;
					padding-bottom: 40px;
					overflow: hidden;
					.itemswipe {
						height: 358px;
					}
					.swipe_banner {
						height: 100%;
						background: {
							position: center center;
							size: cover;
							repeat: no-repeat;
						}
					}
					.swiper-pagination {
						bottom: 0;
					}.swiper-pagination-bullet {
						background-color: #626262;
						opacity: 1;
					}
					.swiper-pagination-bullet-active {
						background-color: #016241;
					}
				}
			}
			.item_desc {
				display: flex;
				flex-direction: column;
				max-width: 860px;
				margin: 0 auto;
				padding-top: 70px;
				p {
					padding-bottom: 5px;
					font-size: 18px;
				}
				span {
					display: block;
					padding-left: 20px;
					font-size: 18px;
				}
			}
		}
	}

	@include mixins.mobile() {
		padding-top: 0;
		.aside {
			display: none;
		}
		.about_wrap {
			.quick_bnr {
				flex-direction: column;
				margin-bottom: 40px;
				.bnr {
					flex:auto;
					height: 85px;
					border-radius: 13px;
					margin-left: 0;
					margin-top: 10px;
					overflow: hidden;
					span {
						max-width: 130px;
						margin-left: 30px;
						font-size: 16px;
						background-size: auto 15px;
					}
				}
			}
			.about_head {
				max-width: 100%;
				padding-left: 20px;
				padding-bottom: 10px;
				margin: 0;
				font-size: 18px;
				&:before {
					width:15px;
					height: 15px;
				}
				i {
					width: 40px;
					height: 50px;
					background-size: auto 100%;
				}
			}
			.about_detail {
				width: calc(100% - 40px);
				padding: 40px 20px;
				margin-top: 20px;
				.items {
					flex-direction: column;
					align-items: flex-start;
					&._left {
						.imgs {
							order: 1;
						}
						.text {
							order: 2;
							text-align: left;
						}
					}
				}
				.imgs {
					margin-bottom: 15px;
				}
				.text {
					p {
						padding-left: 0;
						font-size: 15px;
					}
				}
				.items_type {
					margin-top: 35px;
					.text {
						width: 100%;
						p {
							padding-bottom: 10px;
							font-size: 14px;
							br {display: none;}
						}
						.btn {
							height: 30px;
							font-size: 12px;
						}
					}
					strong {
						font-size: 20px;
						padding-bottom: 10px;
					}
					.items_swipe {
						width: 100%;
						height: 50vw;
						margin-top: 15px;
						.itemswipe {
							height: 100%;
						}
					}
				}
				.item_desc {
					padding-top: 40px;
					p {
						font-size: 14px;
					}
					span {
						font-size: 14px;
					}
				}
			}
		}
	}
}
