@use "mixins";
@use "swiper";

.displaynone {display: none !important;}
.sub_container {
	display: flex;
	gap: 11%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 80px 0 105px;
	.aside {
		padding-right: 36px;
		.aside_tit {
			position: relative;
			padding-top: 5px;
			margin-bottom: 20px;
			padding-left: 14px;
			font-size: 22px;
			color: #016241;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 100px;
				background-color: #016241;
			}
		}
		.aside_menu {
			width: 165px;
			li {
				margin-bottom: 10px;
				&:hover, &.active {
					a {
						border: 1px solid #888888;
						color: #016241;
					}
				}
			}
			a {
				display: flex;
				width: calc(100% - 26px);
				height: 30px;
				align-items: center;
				padding:0 13px;
				border:1px solid #ffffff;
				border-radius: 25px;
				font-size: 18px;
				color: #888888;
			}
		}
	}
  // .aside
  .content {
    width: 100%;
    max-width: 660px;
    .cont_head {
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 38px;
      span {
        font-size: inherit;
        font-weight: inherit;
        color:#016241;
      }
      .desc {
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}
.simple_wrap {
  min-height: calc(100vh - 370px);
}

.form_box {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 27px;
  &:first-of-type {
    margin-top: 0;
  }
  .form_field {
    width: 100%;
    dt {
      min-height: 19px;
      margin-bottom: 5px;
      span {
        font-weight: 400;
        font-size: 15px;
        color:#666666;
      }
    }
    dd {
      position: relative;
      display: flex;
      gap: 10px;
      align-items: center;
      margin-top: 20px;
      &:first-of-type {
        margin-top: 0;
      }
    }
    .unit {
      position: absolute;
      right: 20px;
      top: 50%;
      @include mixins.translate(0, -50%);
    }
  }
  &._auto {
    justify-content:space-between;
    .form_field {
      width: auto;
    }
  }
}
.form_btn {
  display: flex;
  width: 100%;
  padding: 60px 0;
  justify-content: center;
}
.form_result {
  .table_cnt {
    margin-bottom:10px;
  }
  .btn_delete {
    display: block;
    width: 27px;
    height: 27px;
    background: {
      image: url('../images/icons/ico_trash.png');
      repeat: no-repeat;
      position: center center;
      size: cover;
    }
  }
  .table_box {
    margin-bottom: 12px;
  }
  .form_table {
    width: 100%;
    border-top:1px solid #b9b9ba;
    border-bottom:1px solid #b9b9ba;
    tr {
      // display: flex;
      // justify-content: space-between;
      .td_del {
        width: 60px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
      }
      th {
        min-width: 80px;
        padding:0 20px;
        background-color: #eeeeee;
        border-left: 1px solid #b9b9ba;
        &:first-child {
          border-left: 0;
        }
      }
      td {
        // width: 100%;
        padding:0 20px;
        border-left: 1px solid #b9b9ba;
        &:first-child {
          border-left: 0;
        }
      }
    }
    th, td {
      // display: inline-flex;
      // align-items: center;
      // justify-content: flex-start;
      height: 58px;
      vertical-align: middle;
    }
    .center {
      th, td  {
        text-align: center;
      }
    }
  }
}
.btn_delete {
  display: block;
  width: 27px;
  height: 27px;
  margin: 0 auto;
  background: {
    image: url('../images/icons/ico_trash.png');
    repeat: no-repeat;
    position: center center;
    size: cover;
  }
}

.step_layer {
  .step_head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 0;
    > div  {
      margin-left: 20px;
    }
  }
  .step_bar {
    width: 100%;
    max-width: 350px;
    height: 14px;
    background-color: #656565;
    border-radius: 25px;
    overflow: hidden;
    p {
      width: 100%;
      height:100%;
      background-color: #eac785;
    }
  }
  .step_cnt {
    display: flex;
    font-size: 28px;
    font-weight: 400;
    color:#cccccc;
    p {
      span {
        color:#ffffff;
      }
    }
  }
  .btn_save {
    padding: 14px 30px;
    background-color: #000000;
    color:#ffffff;
    font-size: 20px;
    border-radius: 25px;
  }
  .btn_confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    background-color: #f2f2f2;
    color:#666666;
    font-size: 26px;
  }
}
.step_content {
  padding: 50px 45px;
  .step_q {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 38px;
    strong {
      margin-right: 10px;
      font-weight: 500;
      font-size: 120px;
      font-family: 'NanumSquare';
      font-weight: 300;
      line-height: 100%;
    }
    span {
      font-weight: 500;
      color: #016241;
    }
    i {
      display: block;
      margin-top: 20px;
      font-style: normal;
      font-size: 20px;
      font-weight: 400;
      color:#888888;
    }
  }
  .step_cont {
    margin-left: 30px;
  }
  .chk_list {
    li {
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
    &.multi_line {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      li {
        display: flex;
        flex: 1;
        margin-top: 0;
      }
    }
  }
}