@use "mixins";
@use "swiper";

.displaynone {
	display: none !important;
}

.sub_container {
	display: flex;
	gap: 11%;
	max-width: 1200px;
	min-height: calc(100vh - 540px);
	margin: 0 auto;
	padding: 80px 0 105px;

	.aside {
		padding-right: 36px;

		.aside_tit {
			position: relative;
			padding-top: 5px;
			margin-bottom: 20px;
			padding-left: 14px;
			font-size: 22px;
			color: #016241;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 100px;
				background-color: #016241;
			}
		}

		.aside_menu {
			width: 165px;
			li {
				margin-bottom: 10px;
				&:hover,
				&.active {
					a {
						border: 1px solid #888888;
						color: #016241;
					}
				}
				&.checking {
					a {
						color:#000000;
					}
				}
			}

			a {
				display: flex;
				width: calc(100% - 26px);
				height: 30px;
				align-items: center;
				padding: 0 13px;
				border: 1px solid #ffffff;
				border-radius: 25px;
				font-size: 18px;
				color: #888888;
			}
		}
    .aside_status {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: -10px;
      margin-bottom: 10px;
      font-weight: 700;
      strong {
        font-size: 60px;
        color: #016241;
      }
      span {
        margin-top:13px;
        font-size: 26px;
      }
    }
	}

	// .aside
	.content {
		width: 100%;
		max-width: 660px;

		.cont_head {
			margin-bottom: 30px;
			font-weight: 500;
			font-size: 38px;

			span {
				font-size: inherit;
				font-weight: inherit;
				color: #016241;
			}

			.desc {
				margin-top: 20px;
				font-weight: 400;
				font-size: 16px;
			}
		}
	}
}

.form_box {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 27px;
  &:first-of-type {
    margin-top: 0;
  }
  .essential {
    display: inline-block;
    &:before {
      content: '*';
      display: block;
      font-size: 18px;
      font-style: normal;
      color:#c7613e;
    }
  }
  .form_field {
    width: 100%;
    text-align: left;
    dt {
      min-height: 19px;
      margin-bottom: 5px;
      font-weight: 500;
      span {
        font-weight: 400;
        font-size: 15px;
        color:#666666;
      }
    }
    dd {
      position: relative;
      display: flex;
      gap: 10px;
      align-items: center;
      margin-top: 20px;
      &:first-of-type {
        margin-top: 0;
      }
      &.mid_size {
        width: 60%;
      }
      &.sm_size {
        width: 25%;
      }
    }
    .infotxt {
      margin-top: 10px;
      padding-left: 15px;
      p {
        font-size: 15px;
        font-weight: 400;
        color:#666666;
      }
      &.errortxt {
        p {
          color:#c7613e;
        }
      }
    }
    .unit {
      position: absolute;
      right: 20px;
      top: 50%;
      @include mixins.translate(0, -50%);
    }
    &.field_inline {
      display: flex;
      align-items: center;
      dt {
        width: 90px;
        margin-bottom: 0;
      }
    }
  }
  &._auto {
    justify-content:space-between;
    .form_field {
      width: auto;
    }
  }

	&:first-of-type {
		margin-top: 0;
	}

	.essential {
		display: inline-block;

		&:before {
			content: '*';
			display: block;
			font-size: 18px;
			font-style: normal;
			color: #c7613e;
		}
	}

	.form_field {
		width: 100%;
		text-align: left;

		dt {
			min-height: 19px;
			margin-bottom: 5px;
			font-weight: 500;

			span {
				font-weight: 400;
				font-size: 15px;
				color: #666666;
			}
		}

		dd {
			position: relative;
			display: flex;
			gap: 10px;
			align-items: center;
			margin-top: 20px;

			&:first-of-type {
				margin-top: 0;
			}
		}

		.infotxt {
			margin-top: 10px;
			padding-left: 15px;

			p {
				font-size: 15px;
				font-weight: 400;
				color: #666666;
			}

			&.errortxt {
				p {
					color: #c7613e;
				}
			}
		}

		.unit {
			position: absolute;
			right: 20px;
			top: 50%;
			@include mixins.translate(0, -50%);
		}
	}

	&._auto {
		justify-content: space-between;

		.form_field {
			width: auto;
		}
	}

	.form_chk {
		position: absolute;
		right: 10px;
		top: 50%;
		@include mixins.translate(0, -50%);
		display: flex;
	}

	.bt_pwd {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin-left: 8px;

		background: {
			image: url('../images/icons/ico_pwd_hide.png');
			size: 25px;
			repeat: no-repeat;
			position: center center;
		}

		&.show {
			background: {
				image: url('../images/icons/ico_pwd_show.png');
			}
		}
	}

	.bt_reset {
		display: inline-block;
		display: none;
		width: 30px;
		height: 30px;

		background: {
			image: url('../images/icons/ico_txt_del.png');
			size: 22px;
			repeat: no-repeat;
			position: center center;
		}
	}
}

.form_btn {
	display: flex;
	width: 100%;
	padding: 60px 0;
	justify-content: center;
}

.form_result {
  .table_cnt {
    margin-bottom:10px;
		font-size: 18px;
		color:#888888;
		strong {
			color:#000000;
		}
  }
  .btn_delete {
    display: block;
    width: 27px;
    height: 27px;
    background: {
      image: url('../images/icons/ico_trash.png');
      repeat: no-repeat;
      position: center center;
      size: cover;
    }
  }
  .table_box {
    margin-bottom: 12px;
  }
}
.form_table {
	width: 100%;
	border-top:1px solid #b9b9ba;
	border-bottom:1px solid #b9b9ba;
	tr {
		// display: flex;
		// justify-content: space-between;
		.td_del {
			width: 60px;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
		}
		th {
			min-width: 80px;
			padding:0 20px;
			background-color: #eeeeee;
			border-left: 1px solid #b9b9ba;
			// border-bottom: 1px solid #b9b9ba;
			&:first-child {
				border-left: 0;
				// width: 30%;
			}
		}
		td {
			// width: 100%;
			padding:10px 20px;
			border-left: 1px solid #b9b9ba;
			border-bottom: 1px solid #b9b9ba;
			&:first-child {
				border-left: 0;
			}
		}
		&:last-of-type {
			td {
				border-bottom: 0;
			}
		}
	}
	th, td {
		// display: inline-flex;
		// align-items: center;
		// justify-content: flex-start;
		height: 58px;
		vertical-align: middle;
	}
	td {
		height: 38px;
	}
	.center {
		th, td  {
			text-align: center;
		}
	}
	// tbody {
	// 	& + thead {
	// 		border-top: 1px solid #b9b9ba;
	// 	}
	// }
}

.btn_delete {
	display: block;
	width: 27px;
	height: 27px;
	margin: 0 auto;

	background: {
		image: url('../images/icons/ico_trash.png');
		repeat: no-repeat;
		position: center center;
		size: cover;
	}
}

.step_layer {
	.step_head {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 30px 0;

		>div {
			margin-left: 20px;
		}
	}

	.step_bar {
		width: 100%;
		max-width: 350px;
		height: 14px;
		background-color: #656565;
		border-radius: 25px;
		overflow: hidden;

		p {
			width: 100%;
			height: 100%;
			background-color: #eac785;
		}
	}

	.step_cnt {
		display: flex;
		font-size: 28px;
		font-weight: 400;
		color: #cccccc;

		p {
			span {
				color: #ffffff;
			}
		}
	}

	.btn_save {
		padding: 14px 30px;
		background-color: #000000;
		color: #ffffff;
		font-size: 20px;
		border-radius: 25px;
	}

	.btn_confirm {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 75px;
		background-color: #f2f2f2;
		color: #666666;
		font-size: 26px;
	}
}

.step_content {
	padding: 50px 45px;

	.step_q {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		font-weight: 400;
		font-size: 38px;

		strong {
			margin-right: 10px;
			font-weight: 500;
			font-size: 120px;
			font-family: 'NanumSquare';
			font-weight: 300;
			line-height: 100%;
		}

		span {
			font-weight: 500;
			color: #016241;
		}

		i {
			display: block;
			margin-top: 20px;
			font-style: normal;
			font-size: 20px;
			font-weight: 400;
			color: #888888;
		}
	}

	.step_cont {
		margin-left: 30px;
	}

	.chk_list {
		li {
			margin-top: 20px;

			&:first-child {
				margin-top: 0;
			}
		}

		&.multi_line {
			display: flex;
			justify-content: space-between;
			margin-top: 25px;

			li {
				display: flex;
				flex: 1;
				margin-top: 0;
			}
		}
	}
}

.quest {
	margin-top: 20px;
	margin-bottom: 8px;
	font-size: 18px;
}

.sub_container {
	.testament_check {
		.cont_head {
			font-size: 30px;
			color:#016241;
			text-align: center;
			> p {
				position: relative;
				display: inline-block;
				z-index: 1;
				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom:0;
					left: 0;
					width: 100%;
					height:10px;
					background-color: #eee8da;
					z-index: -1;
				}
			}
		}
	}
}
.testament_check-box {
	margin-bottom: 30px;
	p {
		line-height: 1.4;
	}
	hr {
		height: 25px;
		border: 0;
	}
	strong {
		display: block;
		font-weight: 700;
		margin-bottom: 5px;
	}
	.btn_modify {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 110px;
		height: 40px;
		border-radius: 5px;
		background-color: #c7613e;
		font-size: 18px;
		color:#ffffff;
		i {
			display: inline-flex;
			width:26px;
			height:24px;
			margin-right: 10px;
			background: {
				image: url('../images/icons/ico_modi.png');
				size: cover;
				repeat:no-repeat;
				position: center center;
			};
		}
	}
	.title {
		position: relative;
		margin-bottom: 25px;
		font-size: 22px;
		color: #016241;
		font-weight:500;
		.btn_modify {
			position:absolute;
			right: 0;
			top:0;
		}
	}
	.sub_title {
		display: inline-block;
		margin-right: 15px;
		font-size: 18px;
		color:#c7613e;
	}
	.mix_box {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		margin-bottom: 40px;
		.table_area {
			width: calc(100% - 140px);
		}
		.form_table {
			margin-bottom: 10px;
			th {
				height: 40px;
			}
			td {
				height: 30px;
			}
		}
	}
	.table_title {
		margin-bottom: 5px;
		font-size: 18px;
	}
	.personal_data {
		li {
			display: flex;
			margin-bottom: 15px;
			font-size: 18px;
		}
	}
	.default_data {
		.sub_title {
			font-size: 16px;
			color:#000000;
		}
		li {
			display: flex;
			margin-bottom: 10px;
			font-size: 16px;
		}
	}
}


// member
.join_index {
	width: 100%;
	max-width: 520px;
	margin: 60px auto 0;

	.title {
		margin-bottom: 17px;
		font-size: 38px;
		font-weight: 700;
	}

	.desc {
		font-weight: 400;
		line-height: 1.6;

		&._center {
			padding-top: 35px;
			font-size: 18px;
			text-align: center;

			&+.desc {
				padding-top: 15px;
			}
		}

		a {
			color: #c7613e;
			line-height: 1.6;
		}

		span {
			color: #c7613e;
			line-height: 1.6;
		}
	}

	.btnwrap {
		margin-top: 37px;

		[class^=btn_] {
			display: flex;
			width: 100%;
			height: 70px;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
			font-size: 24px;
			font-weight: 500;

			i {
				display: inline-flex;
				margin-right: 5px;

				background: {
					size: cover;
					repeat: no-repeat;
					position: center center;
				}
			}
		}
	}

	.btn_email_join {
		background-color: #e6e2d9;

		i {
			width: 33px;
			height: 32px;

			background: {
				image: url('../images/icons/ico_at.png');
			}
		}
	}

	.btn_kakao_join {
		background-color: #fee800;

		i {
			width: 36px;
			height: 33px;

			background: {
				image: url('../images/icons/ico_kakao.png');
			}
		}
	}

	.btn_join_confirm {
		background-color: #016241;
		color: #ffffff;
		font-size: 24px;
	}
}

.join_form {
	margin-top: 35px;

	.agree_box {
		margin-top: 35px;

		.chkwrap.type2 {
			display: inline-block;
			margin-right: 20px;

			label {
				input[type=checkbox] {
					margin-right: 20px;

					&:before {
						top: -8px;
						width: 30px;
						height: 30px;
						background-size: 30px;
					}

					&+span {
						font-weight: 500;
						font-size: 16px;
						color: #000000;

						em {
							color: #c7613e;

							&.nor {
								color: #888888;
							}
						}
					}
				}
			}
		}

		.agree_head {
			padding-bottom: 10px;
			border-bottom: 1px dotted #b8b8b9;

			.chkwrap.type2 label {
				input[type=checkbox] {
					&+span {
						font-size: 18px;
					}
				}
			}
		}

		.agree_list {
			margin-top: 10px;

			li {
				display: flex;
				align-items: center;
				padding: 5px 0;
			}

			.btn_view {
				font-size: 15px;
				font-weight: 400;
				color: #888888;
			}
		}
	}

	input[type=text],
	input[type=password] {
		padding-right: 60px;
	}
}

// mypage
.mypage_wrap {
	.content {
		max-width: 860px;
	}

	.cont_head {
		display: flex;
		align-items: center;

		.user_figure {
			width: 100px;
			height: 100px;
			margin-right: 20px;
			border-radius: 100%;

			background: {
				image: url('../images/common/user_default.png');
				size: cover;
				repeat: no-repeat;
				position: center center;
			}

			overflow: hidden;
		}

		.user_name {
			font-size: 32px;
		}
	}

	.my_info {
		.my_row {
			display: flex;
			align-items: center;
			border-bottom: 1px solid #b9b9ba;
			padding: 25px 0 15px;

			dt {
				width: 120px;
				font-size: 18px;
			}

			dd {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: calc(100% - 120px);

				input {
					width: 50%;
					height: 40px;
					border: 0;
					background-color: transparent;
					font-size: 24px;
					color: #016241;
				}
			}

			.btn_change {
				padding: 10px 20px;
				background-color: #c7613e;
				border-radius: 5px;
				color: #ffffff;
				font-size: 18px;
			}
		}
	}

	.my_check {
		margin-top: 45px;

		>p {
			margin-bottom: 20px;
			font-size: 18px;
		}

		.chkwrap.type2 {
			display: inline-block;
			margin-right: 20px;

			label {
				input[type=checkbox] {
					margin-right: 20px;

					&:before {
						top: -8px;
						width: 30px;
						height: 30px;
						background-size: 30px;
					}

					&+span {
						font-weight: 500;
						font-size: 16px;
						color: #000000;

						em {
							color: #c7613e;

							&.nor {
								color: #888888;
							}
						}
					}
				}
			}
		}
	}

	.btn_wrap+.btn_wrap {
		a span {
			color: #c7613e;
			text-decoration: underline;
		}
	}

	.my_will {
		.check_list {
			display: flex;

			li {
				min-width: 150px;
			}
		}
	}

	.will_filter {
		margin-bottom: 70px;

		.filter_chk {
			display: flex;
			margin-top: 25px;
			margin-bottom: 20px;
		}

		.filter_btn {
			position: relative;
			margin-right: 10px;

			input[type=checkbox] {
				position: absolute;
				left: 0;
				top: 0;
				width: 0;
				height: 0;
				z-index: -1;

				&:checked {
					&+label {
						background-color: #c7613e;
						color: #ffffff;
					}
				}
			}

			label {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #dcd9d3;
				border-radius: 5px;
				width: 70px;
				height: 35px;
			}
		}

		.filter_date {
			display: flex;
			align-items: center;
			gap: 10px;

			p {
				display: flex;
				align-items: center;
			}

			input {
				margin-right: 10px;
				text-align: center;
			}

			.ui-datepicker-trigger {
				width: 28px;
				height: 30px;
				cursor: pointer;
			}
		}
	}

	.will_list {
		.list_head {
			display: flex;
			align-items: center;
			justify-content: space-between;

			p {
				font-size: 18px;
				color: #888888;

				span {
					color: #000000;
				}
			}
		}

		.btn_make {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 200px;
			height: 70px;
			background-color: #016241;
			border-radius: 50px;
			color: #ffffff;
			font-size: 22px;
			font-weight: 500;
		}

		.list_box {
			float: right;
			width: 100%;
			margin-top: 55px;

			&:after {
				content: '';
				display: block;
				clear: both;
			}

			li {
				float: left;
				width: calc((100% / 3) - 38px);
				height: 325px;
				margin-right: 57px;
				margin-bottom: 45px;

				&:nth-child(3n) {
					margin-right: 0
				}

				&:nth-child(3n + 1) {
					clear: left;
				}

			}
		}

		.will_box {
			width: 100%;
			height: 100%;

			background: {
				image: url('../images/common/will_box.png');
				size: 100% 100%;
				position: center bottom;
				repeat: no-repeat;
			}

			.box_head {
				display: flex;
				padding: 35px 0 45px;
				color: #888888;

				.num {
					width: 63px;
					padding-right: 7px;
					font-size: 20px;
					text-align: right;
				}

				.date {
					width: calc(100% - 95px);
					padding-left: 25px;
				}
			}

			.box_cont {
				padding-left: 23%;

				p {
					margin-bottom: 20px;
					font-size: 18px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				.type {
					font-weight: 500;
				}

				.status {
					color: #016241;
				}

				.status_ing {
					color: #c7613e;
				}

				.notarize {
					span {
						color: #888888;

						&.ing {
							color: #c7613e;
						}

						&.complete {
							color: #016241;
						}
					}
				}
				.btn_manage {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 120px;
					height: 45px;
					background-color: #362515;
					font-weight: 500;
					color:#ffffff;
				}
			}
		}
	}

	.pagination {
		clear: both;
		display: flex;
		align-items: center;
		justify-content: center;
	}

}

.mypage_layer {
	.layer_wrap {
		width: 100%;
		max-width: 540px;
	}

	.layer_box {
		padding: 55px 50px 50px;
		border-radius: 25px;
		text-align: center;
	}

	.my_head {
		padding-bottom: 25px;
		font-weight: 500;
		font-size: 22px;
	}

	.my_desc {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.4;
	}

	.my_ico {
		padding: 40px 0 20px;
	}

	.ico_set {
		display: block;
		width: 67px;
		height: 92px;
		margin: 0 auto;

		background: {
			image: url('../images/icons/ico_myset.png');
			size: cover;
			position: center center;
			repeat: no-repeat;
		}

		;
	}

	.ico_outok {
		display: block;
		width: 84px;
		height: 99px;
		margin: 0 auto;

		background: {
			image: url('../images/icons/ico_out_ok.png');
			size: cover;
			position: center center;
			repeat: no-repeat;
		}

		;
	}

	.ico_logout {
		display: block;
		width: 72px;
		height: 72px;
		margin: 0 auto;

		background: {
			image: url('../images/icons/ico_logout.png');
			size: cover;
			position: center center;
			repeat: no-repeat;
		}

		;
	}

	.btnwrap {
		margin-top: 40px;
	}

	.btn_confirm {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 70px;
		background-color: #016241;
		color: #ffffff;
		font-size: 24px;
		font-weight: 500;
	}

	.btn_submit {
		display: inline-flex;
		width: 170px;
		height: 50px;
		align-items: center;
		justify-content: center;
		border-radius: 50px;
		background-color: #000000;
		color: #ffffff;
		font-size: 20px;
		font-weight: 500;
	}

	.btn_cancel {
		display: inline-flex;
		width: 170px;
		height: 50px;
		align-items: center;
		justify-content: center;
		border-radius: 50px;
		background-color: #929292;
		color: #ffffff;
		font-size: 20px;
		font-weight: 500;
	}
}


@include mixins.mobile() {
	.sub_container {
		width: calc(100% - 40px);
		min-height: calc(100vh - 360px);
		padding: 40px 20px 50px;
	}

	.form_box {
		.form_field {
			dt {
				font-size: 13px;
			}

			.infotxt {
				margin-top: 7px;

				p {
					font-size: 10px;
				}
			}
		}
	}

	.join_index {
		margin: 0 auto;

		.title {
			margin-bottom: 10px;
			font-size: 19px;
		}

		.desc {
			font-size: 10px;

			&._center {
				padding-top: 30px;
				font-size: 12px;
			}
		}

		[class^=btn_] {
			margin-bottom: 10px;
			height: 40px;
			font-size: 14px;

			i {
				width: 21px;
				background-size: 21px auto;
			}
		}

		.bt_reset {
			width: 20px;
			background-size: 15px;
		}

		.bt_pwd {
			width: 20px;
			background-size: 15px;
		}

		.btnwrap {
			[class^=btn_] {
				height: 40px;
				font-size: 14px;
			}
		}
	}

	.join_form {
		.agree_box {
			.agree_head {
				padding-bottom: 0;

				.chkwrap.type2 {
					label {
						input[type=checkbox] {
							&+span {
								font-size: 12px;
							}
						}
					}
				}
			}

			.chkwrap.type2 {
				margin-right: 10px;

				label {
					input[type=checkbox] {
						margin-right: 12px;

						&:before {
							top: -3px;
							width: 22px;
							height: 22px;
							background-size: 22px 22px;
						}

						&+span {
							font-size: 12px;
						}
					}
				}
			}

			.agree_list {
				li {
					padding: 0;
				}

				.btn_view {
					display: flex;
					align-items: center;
					margin-bottom: 0;
					font-size: 10px;
				}
			}
		}
	}
}